/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.


*/
#airquality {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  height: 300px; }

.airquality h1 {
  font-size: 16px;
  margin-left: 300px; }
.airquality .airqualitymessage {
  margin-left: 300px;
  margin-right: 30px;
  margin-bottom: 30px; }
  .airquality .airqualitymessage h2 {
    font-size: 16px;
    margin-left: 0px;
    text-align: left; }
#classic_controls {
  font-size: 0.72em; }
  #classic_controls #demand, #classic_controls #supply, #classic_controls #other {
    padding: 0;
    border: 0;
    margin: 0;
    margin-left: 2.5%;
    width: 30%;
    float: left; }
  #classic_controls table {
    width: 100%; }
    #classic_controls table tr:hover td.name {
      font-weight: bold;
      background-image: url("../assets/images/oneblackpixel.png"); }
    #classic_controls table td.choice {
      width: 20px; }
      #classic_controls table td.choice a {
        display: block;
        width: 100%;
        text-align: center;
        color: #888;
        text-decoration: none;
        border: solid #ccc 1px; }
      #classic_controls table td.choice a:hover {
        border: solid #000 1px; }
      #classic_controls table td.choice a.selected {
        color: #000; }
    #classic_controls table td.name {
      background-image: url("../assets/images/onegreypixel.png");
      background-position: left center;
      background-repeat: repeat-x; }
      #classic_controls table td.name a {
        background-color: #fff;
        text-decoration: none;
        color: #000;
        cursor: help; }
      #classic_controls table td.name a:hover {
        text-decoration: underline; }
    #classic_controls table tr.incremental a.level1_1 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level1_1.png"); }
    #classic_controls table tr.incremental a.level1_2 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level1_2.png"); }
    #classic_controls table tr.incremental a.level1_3 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level1_3.png"); }
    #classic_controls table tr.incremental a.level1_4 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level1_4.png"); }
    #classic_controls table tr.incremental a.level1_5 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level1_5.png"); }
    #classic_controls table tr.incremental a.level1_6 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level1_6.png"); }
    #classic_controls table tr.incremental a.level1_7 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level1_7.png"); }
    #classic_controls table tr.incremental a.level1_8 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level1_8.png"); }
    #classic_controls table tr.incremental a.level1_9 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level1_9.png"); }
    #classic_controls table tr.incremental a.level2_1 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level2_1.png"); }
    #classic_controls table tr.incremental a.level2_2 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level2_2.png"); }
    #classic_controls table tr.incremental a.level2_3 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level2_3.png"); }
    #classic_controls table tr.incremental a.level2_4 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level2_4.png"); }
    #classic_controls table tr.incremental a.level2_5 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level2_5.png"); }
    #classic_controls table tr.incremental a.level2_6 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level2_6.png"); }
    #classic_controls table tr.incremental a.level2_7 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level2_7.png"); }
    #classic_controls table tr.incremental a.level2_8 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level2_8.png"); }
    #classic_controls table tr.incremental a.level2_9 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level2_9.png"); }
    #classic_controls table tr.incremental a.level3_1 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level3_1.png"); }
    #classic_controls table tr.incremental a.level3_2 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level3_2.png"); }
    #classic_controls table tr.incremental a.level3_3 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level3_3.png"); }
    #classic_controls table tr.incremental a.level3_4 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level3_4.png"); }
    #classic_controls table tr.incremental a.level3_5 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level3_5.png"); }
    #classic_controls table tr.incremental a.level3_6 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level3_6.png"); }
    #classic_controls table tr.incremental a.level3_7 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level3_7.png"); }
    #classic_controls table tr.incremental a.level3_8 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level3_8.png"); }
    #classic_controls table tr.incremental a.level3_9 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level3_9.png"); }
    #classic_controls table tr.incremental a.level4_1 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level4_1.png"); }
    #classic_controls table tr.incremental a.level4_2 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level4_2.png"); }
    #classic_controls table tr.incremental a.level4_3 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level4_3.png"); }
    #classic_controls table tr.incremental a.level4_4 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level4_4.png"); }
    #classic_controls table tr.incremental a.level4_5 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level4_5.png"); }
    #classic_controls table tr.incremental a.level4_6 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level4_6.png"); }
    #classic_controls table tr.incremental a.level4_7 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level4_7.png"); }
    #classic_controls table tr.incremental a.level4_8 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level4_8.png"); }
    #classic_controls table tr.incremental a.level4_9 {
      background-position: left center;
      background-repeat: repeat-y;
      background-image: url("../assets/images/fractions/level4_9.png"); }
    #classic_controls table tr.incremental a.level1 {
      background-color: #92C979; }
    #classic_controls table tr.incremental a.level2 {
      background-color: #EFDD60; }
    #classic_controls table tr.incremental a.level3 {
      background-color: #FFAE55; }
    #classic_controls table tr.incremental a.level4 {
      background-color: #F44545; }
    #classic_controls table tr.alternative a.selected {
      background-color: #aaa; }
#costscomparedoverview {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  height: 600px; }

.costscomparedoverview h1 {
  font-size: 16px;
  margin-left: 250px; }
#costscomparedwithinsector {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  height: 600px; }

.costscomparedwithinsector h1 {
  font-size: 16px;
  margin-left: 250px; }

#sectorchoice {
  z-index: 5;
  position: absolute;
  top: 45px;
  left: 25px; }
#costsincontext {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  height: 600px; }

.costsincontext h1 {
  font-size: 16px;
  margin-left: 250px; }

#cost_override_warning {
  position: absolute;
  top: 55px;
  left: 25px;
  width: 200px;
  display: none;
  border: solid 1px #000;
  background-color: yellow;
  font-size: smaller;
  padding: 5px; }

#cost_caveats {
  position: absolute;
  left: 5%;
  top: 75px;
  z-index: 1000;
  width: 85%;
  padding: 2.5%;
  background-color: #FF0;
  border: solid 1px #000;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  display: none; }
  #cost_caveats #understand {
    margin-top: 20px;
    width: 100%;
    text-align: center; }

#essentialnotes {
  font-size: 10px;
  margin-top: 5px;
  margin-left: 250px;
  margin-right: 100px;
  margin-bottom: 30px; }
#costssensitivity {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  height: 1400px; }

.costssensitivity h1 {
  font-size: 16px;
  margin-left: 250px; }

#comparatorchoice {
  z-index: 5;
  position: absolute;
  top: 45px;
  left: 25px; }
#energysecurity .column {
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.5%;
  font-size: 12px;
  width: 30%;
  margin-bottom: 30px;
  float: left; }

.energysecurity td.value {
  width: 17%; }
.energysecurity td.value, .energysecurity th.value {
  text-align: right; }
.energysecurity th.year {
  text-align: center;
  border-bottom: solid 1px #000; }

#energysecurity .clear {
  clear: both; }
#footer {
  clear: both;
  padding-top: 20px;
  text-align: center;
  font-size: 0.72em; }
#map {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  height: 800px; }
body {
  font-family: Times;
  margin: 0;
  padding: 0; }

.chart {
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.4%;
  width: 30%;
  height: 300px;
  margin-bottom: 30px;
  float: left; }
#sankey {
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  height: 580px; }
#share div {
  margin: 0 10% 0 10%;
  width: 80%; }
#share #excel {
  margin-top: 50px; }
  #share #excel textarea {
    text-align: right;
    margin-left: 10%;
    width: 32px;
    height: 700px; }
#simplesankey {
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  height: 320px; }
.story {
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.5%;
  font-size: 12px;
  width: 30%;
  margin-bottom: 30px;
  float: left; }
  .story h4 {
    margin-top: 1em;
    margin-bottom: 0em; }
  .story h4 + p {
    margin-top: 0em; }
  .story th {
    text-align: left; }
  .story td.target, .story th.target {
    text-align: right; }

#stories .clear {
  clear: both; }
#tooltip {
  display: none;
  background-color: #FFFF00;
  color: #000;
  border: 2px solid #000;
  border-radius: 15px 15px 0px 15px;
  -moz-border-radius: 15px 15px 0px 15px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  font-size: 12px;
  height: 5em;
  width: 14em;
  padding: 10px;
  z-index: 10000; }
#topbar {
  width: 100%;
  height: 30px;
  margin: 0 0 15px 0;
  padding: 0; }
  #topbar #help, #topbar #share {
    position: absolute;
    top: 5px;
    width: 50px;
    height: 22px;
    padding-top: 3px;
    border: solid #ccc 1px;
    text-align: center; }
    #topbar #help a, #topbar #share a {
      color: #000;
      display: block;
      width: 100%;
      text-decoration: none; }
    #topbar #help a:hover, #topbar #share a:hover {
      text-decoration: underline; }
  #topbar #help {
    left: 5px; }
  #topbar #share {
    right: 5px; }
  #topbar #viewdropdown {
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 58px; }
  #topbar #savedpathwaydropdown {
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 58px; }
  #topbar #messages {
    margin: 5px 213px 0 211px;
    width: auto; }
  #topbar #message.warning {
    background-image: url("../assets/images/hatches/hatch-fff928.png");
    text-align: center; }
    #topbar #message.warning a {
      display: inline;
      background: white; }
  #topbar #calculating, #topbar #message {
    width: 100%;
    height: 22px;
    padding-top: 3px;
    border: solid #ccc 1px;
    text-align: center; }
    #topbar #calculating a, #topbar #message a {
      color: #000;
      display: block;
      width: 100%;
      text-decoration: none; }
    #topbar #calculating a:hover, #topbar #message a:hover {
      text-decoration: underline; }
  #topbar #calculating {
    position: relative;
    top: 0;
    z-index: 1;
    display: none;
    background-color: yellow; }

.dropdown {
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: #fff;
  height: 25px; }
  .dropdown .dropdown > li {
    margin: 0;
    padding: 0;
    height: 20px; }
  .dropdown li img {
    border: none;
    position: absolute;
    top: 7px;
    right: 8px; }
  .dropdown .divider {
    padding-left: 5px;
    padding-top: 10px;
    border-top: solid 1px #ccc; }
  .dropdown a.development {
    padding-left: 10px;
    color: #999; }
  .dropdown a {
    display: block;
    color: #000;
    padding: 3px;
    padding-left: 5px;
    background: #fff;
    text-decoration: none; }
  .dropdown a:hover {
    text-decoration: underline; }
  .dropdown ul.choices {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0; }
