<div class="block-wrapper  about-page-wrapper">
<div class="block-container">


    <div class="tab-container">
            <nav class="tab-links">
                <a class="outer-link-active router-link-exact-active tab-link-item" to="/par-projektu" exact>Projekts</a>
                <a class="tab-link-item" to="/par-projektu/projekta-merki">Projekta mērķi</a>
            </nav>
        </div>

        <!-- about -->
        <div class="content-container about-project">
                <div class="content-blocks">
                    <div class="content-block__text-container">
                        <h2>Kas ir Klimata Kalkulators 2050?</h2>
                        <p>
                            Klimata kalkulatora 2050 (KK2050) pirmsākumi ir meklējami Lielbritānijā, kur tas tika radīts kā open-source projekts, lai palīdzētu risināt ar klimata izmaiņām saistītās problēmas un sniegtu ieskatu pēc iespējas lielākam skaitam cilvēku par esošajām ar klimata izmaiņām saistītajām problēmām un nepieciešamajiem soļiem to risināšanā. KK2050 primāri ir domāts kā informētības un izpratnes avots par potenciālajiem soļiem valsts līmenī, ko iespējams veikt, lai virzītu Latviju “nulles emisijas” virzienā.
                            <br><br>
                            Šobrīd KK2050 ir pielāgots vairāku valstu datiem un to piemēri ir atrodami <a href="https://www.gov.uk/guidance/international-outreach-work-of-the-2050-calculator">šeit.</a>
                            <br><br>
                            Latvijas Klimata kalkulatora 2050 web-versiju* pielāgoja <b>RigaTechGirls</b> komanda ar <b>Lielbritānijas vēstniecības Latvijā</b> un <b>Latvijas Republikas Vides aizsardzības un reģionālās attīstības ministrijas</b> atbalstu. Latvijas enerģētikas dati tika pielāgoti sadarbībā ar <b>Latvijas enerģētikas ekspertiem.</b>
                        </p>
                    </div>
                    <div class="content-block__img-container">
                        <a class="rtg" href="https://www.rigatechgirls.com/">
                            <img src="/assets/logos/logo_RTG.svg" alt="logo">
                        </a>
                        <a class="brittish-embassy" href="https://www.gov.uk/world/organisations/british-embassy-riga">
                            <img src="/assets/logos/logo_Brittish_embassy.svg" alt="logo">
                        </a>
                        <a href="https://www.varam.gov.lv/">
                            <img src="/assets/logos/logo_VARAM.svg" alt="logo">
                        </a>
                    </div>
                    <div class="content-block__text-container">
                        <h2>Projekta komanda</h2>
                        <p>
                            <b>Latvijas Klimata kalkulatora web-platformas izstrāde:</b>
                            <ul>
                                <li>Oksana Tatarina (Riga TechGirls), projekta vadītāja</li>
                                <li>Ieva Bidermane, datu analītiķe</li>
                                <li>Ilze Bērenfelde, UX/UI, web dizainere</li>
                                <li>Monta Kaļva, back-end izstrādātāja</li>
                                <li>Kristiāna Tatarčuka, front-end izstrādātāja</li>
                            </ul>
                        </p>
                        <p>
                            <b>Mentori (Riga TechGirls):</b>
                            <ul>
                                <li>Anna Andersone, Lina Sarma, Uldis Siliņš, Anastasija Razumilova, Kevin Irlen.</li>
                            </ul>
                        </p>
                        <p>
                            *Latvijas Klimata Kalkulatoram 2050 ir informatīvs mērķis. Lielbritānija vēstniecība un Riga TechGirls organizācijas neuzņemas atbildību par publicēto datu patiesumu un radītām sekām no rīka un tā satura izmantošanas.
                        </p>
                    </div>
                </div>
            </div>

          <!-- goals -->

          <div class="content-container project-purpose">
                  <div class="content-blocks">
                      <div class="content-block__text-container">
                          <h2>Latvijas siltumnīcefekta gāzes (SEG) emisijas un klimata politikas mērķi līdz 2050.gadam</h2>
                          <p>
                              <b>2018.gadā Latvijas SEG emisijas</b>, neskaitot zemes izmantošanu, zemes izmantošanas maiņu un mežsaimniecību (ZIZIMM) un ieskaitot netiešās CO2 emisijas, <b>bija 11273 kilotonnas (kt) CO2 ekvivalenta</b>, savukārt 10959 kt CO2 ekvivalenta, ieskaitot ZIZIMM un netiešās CO2 emisijas. <b>Kopumā Latvijas SEG emisijas kopš 1990.gada ir samazinājušās par apmēram 57 %</b>, neskaitot ZIZIMM, ieskaitot netiešās CO2 emisijas.
                          </p>
                          <p>
                              Virzība uz klimatneitralitāti un tās sasniegšana 2050.gadā ir Latvijas oglekļa mazietilpīgas attīstības stratēģijas virsmērķis. Tas ietver divus stratēģiskus mērķus:
                              <ul>
                                  <li> <b>SEG emisiju samazināšana visos tautsaimniecības sektoros;</b> </li>
                                  <li> <b>CO2 piesaistes palielināšana.</b> </li>
                              </ul>
                          </p>
                          <p>
                              Klimatneitralitāte ir stāvoklis, kurā cilvēka darbība rada “nulles neto” ietekmi uz klimata sistēmu. Šāda stāvokļa sasniegšanai nepieciešams līdzsvarot siltumnīcefekta gāzu emisijas ar oglekļa dioksīda piesaisti. Ir divas pamatpieejas klimatneitratātes sasniegšanai:
                              <ul>
                                  <li> <b>tehnoloģiskie risinājumi;</b> </li>
                                  <li> <b>dzīvesveida maiņa.</b> </li>
                              </ul>
                          </p>
                      </div>
                      <div class="content-block__img-container">
                          <img src="/assets/images/graph_project-goals.png" alt="img">
                      </div>
                  </div>
                  <div class="content-blocks">
                      <div class="content-block__text-container">
                          <p>
                              <b>Tehnoloģisko risinājumu pieeja</b> ietver risinājumus, kas primāri vērsti uz tiešiem SEG emisiju samazinājumiem (tehnoloģiskie un procesu risinājumi). Īstenojot šo taktiku, ir jāparedz būtiskas investīcijas jaunās tehnoloģijās un esošās energosistēmas pārveidošanai.
                              <br>
                              Savukārt, <b>dzīvesveida maiņas pieeja</b> ietver risinājumus, kas primāri vērsti uz dzīvesveida maiņu un netiešiem SEG emisiju samazinājumiem, īstenojot plašus sabiedrības informēšanas un izglītošanas pasākumus, kas vērsti uz patērētāju uzvedības maiņu. Pasākumi no abām šīm pieejām ir ietverti izstrādātajā kalkulatorā.
                          </p>
                          <p>
                              SEG emisiju kvantitatīvs novērtējums atbalsta pamatotu lēmuma pieņemšanas procesu, veicinot politikas veidotāju izpratni  par saitēm starp politikām un īstenojamiem pasākumiem un sagaidāmām vai jau sasniegtām SEG emisiju izmaiņām.
                          </p>
                      </div>
                  </div>
              </div>


    </div>
</div>
