<div class="block-wrapper how-to-use-wrapper">
<div class="block-container">
    <div class="tab-container">
        <nav class="tab-links">
            <a href="#" class="outer-link-active router-link-exact-active tab-link-item kopsavilkums">Kopsavilkums</a>
            <a href="#" class="tab-link-item uzbuve">Kalkulatora uzbūve</a>
            <a href="#" class="tab-link-item scenariji">Sava scenārija izveide</a>
        </nav>
    </div>
    <!-- summary -->
            <div class="content-container how-to-use">
                <div class="content-blocks">
                    <div class="content-block__text-container">
                        <p>
                            Ja <b>Latvijas mērķis</b> 2050.gadā ir klimatneitralitāte, tad, lai to izdarītu, mums ir jādekarbonizē Latvijas ekonomika un vienlaicīgi jānodrošina droša enerģijas piegāde.
                        </p>
                        <h2>Kā to var izdarīt?</h2>
                        <p>
                            Klimata kalkulators 2050 dod jums iespēju vadīt un izveidot paša izvēlētu enerģētikas attīstības ceļu valstij laika posmam līdz 2060.gadam.
                        </p>
                        <h2>Kas ir Klimata Kalkulators 2050?</h2>
                        <p>
                            Izstrādātais Klimata kalkulators 2050 ir interaktīvs, vienkāršs saziņas rīks, kas dod iespēju potenciāliem lietotājiem veidot Latvijas klimatneitralitātes alternatīvus scenārijus un salīdzināt dažādu klimata samazinošo pasākumu ietekmi uz mērķa sasniegšanu.
                            <br><br>
                            Kalkulators ir kā spēle un lielisks vingrinājums ikvienam, kas interesējas par iespējamiem Latvijas enerģētikas attīstības un klimatneitralitātes scenārijiem.
                        </p>
                        <h2>Kā tas darbojas?</h2>
                        <p>
                            Kalkulators modelē to, kas tiek uzskatīts par fiziski un tehniski iespējamu trīsdesmit septiņos dažādos sektoros. Tā pamatā ir atsauces gada (2017. gads) energobilance un aprēķinātās siltumnīcefekta gāzu emisijas Latvijā un zinātniskie un inženiertehniskie dati par iespējamām sistēmas attīstības robežām.
                        </p>
                        <h2>Kāds ir Klimata Kalkulatora 2050 mērķis?</h2>
                        <p>
                            Kalkulators ļauj apsvērt izvēles iespējas un kompromisus, ar kuriem saskaramies. Tas attiecas uz visiem ekonomikas sektoriem un visām siltumnīcas efektu izraisošo gāzu emisijām Latvijā. Izmantojot Klimata Kalkulatoru 2050, varat izveidot ceļus, lai noskaidrotu, kā mēs varētu samazināt Latvijas siltumnīcefekta gāzu emisijas līdz neto nullei līdz 2050. gadam un arī tālākam laika periodam.
                            <br><br>
                            Jūs izvēlaties savu “ambīciju līmeni” dažādu enerģijas sistēmas daļu dekarbonizēšanai, un kalkulators parāda, kā jūsu izvēle ietekmē Latvijas emisijas, kas izteiktas kā oglekļa dioksīda ekvivalents (CO2ekv).
                        </p>
                    </div>
                </div>
                <div class="content-blocks">
                    <div class="content-block__img-container">
                        <img src="/assets/images/example_summary.png" alt="image">
                    </div>
                    <div class="content-block__text-container">
                        <p>Katrai izvēlei ir izstrādātas četras trajektorijas <b>(ambīciju līmeņi)</b>, sākot ar nelielu emisiju samazināšanu vai bez tās <b>(1. līmenis vai A līmenis)</b> un beidzot ar ļoti vērienīgām pārmaiņām, kas ir vērstas uz to, lai sasniegtu fiziskos vai tehniskos ierobežojumus <b>(4. līmenis)</b>. Modelī tiek dots īss šo trajektoriju (ambīciju līmeņu) pieņēmumu apraksts.</p>
                        <h2>Piedāvātās izvēles kalkulatorā ir sadalītas piecos sektoros:</h2>
                        <ul>
                            <li>transports,</li>
                            <li>mājsaimniecība,</li>
                            <li>komercdarbība,</li>
                            <li>bioenerģijas apgāde,</li>
                            <li>enerģijas ražošana.</li>
                        </ul>
                        <p>
                            Katram no sektoriem ir vairāki apakšsektori, kam, savukārt, ir katram izstrādātas sektoram atbilstošas trajektorijas (ambīciju līmeņi).
                            <br><br>
                            Balstoties uz jūsu izvēlēto ambīciju līmeni, ko izvēlaties katrai nozarei, kalkulatora modelis aprēķina enerģijas un materiālu patēriņu, siltumnīcefekta gāzu emisijas un no tā izrietošo ietekmi uz sabiedrību, vidi un zemes izmantošanu, kas tiek reprezentēta oglekļa emisijas ekvivalentos (CO2ekv).
                        </p>
                    </div>
                </div>
            </div>
    <!-- calc contents -->
          <div class="content-container calc-structure">
              <div class="content-blocks">
                  <div class="content-block__img-container">
                      <img src="/assets/images/example_calc-structure.png" alt="img">
                  </div>
                  <div class="content-block__text-container">
                      <ol>
                          <li>Scenāriju piemēri - izvēlnē iespējams izvēlēties kādu no sagatavotajiem scenāriju piemēriem</li>
                          <li>Sektori - valsts enerģētikas un emisiju sistēma.</li>
                          <li>Ambīciju līmenis - iespējas izvēlēties cik lielas pārmaiņas vēlaties veikt.</li>
                          <li>Kalkulātora iestatījumus atgriezt sākuma pozīcijā (visi līmeņi atgriezti uz 1).</li>
                          <li>,</li>
                          <li>,</li>
                          <li><mark>Logs</mark>, kurā tiek atspoguļots izvēlētais grafiks</li>
                          <li>Iespēja dalīties ar savu izveidoto scenāriju (nokopēta web-linka veidā)</li>
                          <li> CO2 mērītājs, kas atspoguļo izvēlētā scenārija CO2 emisiju līmeņa samazinājumu 2060.gadā attiecībā pret bāzes gadu (1990. gads)</li>
                          <li>Grafiks, kas atspoguļo jūsu izvēles.</li>
                          <li>Ambīciju izvēlnes.</li>
                          <li>Apakšsektoru ambīciju izvēlnes.</li>
                          <li>Galvenie sekotori.</li>
                          <li>Apakšsektori (apakšsektoriem, kuri iekrāsojas zilā krāsā ir pieejams paplašināts skaidrojums).</li>
                          <li>Apakšsektoru ambīciju līmeņa skaidrojums.</li>
                          <li>Paplašināts skaidrojums par sektoriem vai ambīcijām.</li>
                      </ol>
                  </div>
              </div>
              <div class="content-blocks">
                  <div class="content-block__text-container">
                      <h2>Sektori</h2>
                      <p>
                          Klimata kalkulators 2050 darbojas, sadalot valsts enerģētikas un emisiju sistēmu vairākos <b>sektoros (nozarēs)</b>, modelējot enerģijas pieprasījumu, piedāvājumu un emisijas katrā no tiem 50 gadu periodā un pēc tam tos visas apvienojot kopā, parāda kopējos rādītājus (enerģijas ieguvi, patēriņu un Co2 emisijas desmit gadu griezumā līdz 2060. gadam).
                      </p>
                      <p>
                          <b>Valsts energosistēma ir sadalīta sekojošos sektoros:</b>
                          <ul>
                              <li>transports,</li>
                              <li>mājsaimniecība,</li>
                              <li>komercdarbība,</li>
                              <li>bioenerģijas apgāde,</li>
                              <li>enerģijas ražošana.</li>
                          </ul>
                      </p>
                      <p>
                          Katram no sektoriem ir vairāki apakšsektori, kam savukārt ir katram izstrādātas sektoram atbilstošas trajektorijas/ambīciju līmeņi. Katram apakšsektoram ir izstrādātas <b>4 trajektorijas (no 1. līdz 4. līmenim)</b>. Gadījumos, ja izvēle starp dažādām iespējām ir ar līdzīgu ambīciju līmeni vai ja jēdziens "ambīcija" nav īsti piemērojams, tad līmeņi ir apzīmēti ar <b>A, B, C un D, nevis 1, 2, 3 un 4.</b>
                      </p>
                  </div>
                  <div class="content-block__text-container">
                      <h2>Ambīciju līmeņi</h2>
                      <p>
                          Ambīciju līmeņi katrā no sektoriem ir atšķirīgi un pielāgoti attiecīgajai nozarei, bet visi seko līdzīgiem pieņēmumiem:
                          <ol>
                              <li>līmenis - lielas pārmaiņas attiecīgajā sektorā netiek plānotas līdz 2050.gadam;</li>
                              <li>līmenis - dažas “minimālas piepūles” izmaiņas tiek veiktas līdz 2050.gadam (atkarīgas no katra sektora izvirzītajiem mērķiem un iespējām);</li>
                              <li>līmenis - tiek veiktas izmaiņas, kas ir stipri ambiciozākas, bet uzskatāmas par iespējamām;</li>
                              <li>līmenis - iespaidīgas izmaiņas, kas nav viegli sasniedzamas vai pat vēlamas. Šīs ir ekspertu ieskatā ļoti grūti realizējamas izmaiņas no tehnoloģiskā viedoļa.</li>
                          </ol>
                      </p>
                      <p>
                          Pie katra no amīciju līmeņiem ir iespējams iepazīties ar īsu tā aprakstu (novietojot kursoru uz izvēlētā ambīciju līmeņa, vai mobilajā versijā uzklikšķinot uz izvēlētā ambīciju līmeņa), kā arī atsevišķiem apakšsektotiem ir pieejami garāki apraksti (pdf dokumenti) ar izvērstāku skaidrojumu par attiecīgo nozari.
                      </p>
                      <p>
                          Balstoties uz jūsu izvēlēto ambīciju līmeni, ko izvēlaties katrai nozarei, kalkulatora modelis aprēķina enerģijas un materiālu patēriņu, siltumnīcefekta gāzu emisijas un no tā izrietošo ietekmi uz sabiedrību, vidi un zemes izmantošanu, kas tiek reprezentēta oglekļa emisijas ekvivalentos (CO2ekv).
                      </p>
                  </div>
              </div>
          </div>
    <!-- own scenario -->
    <div class="content-container scenarious">
        <div class="content-blocks">
            <div class="content-block__text-container">
                <p>
                    Kalkulators ļauj izspēlēt dažādus scenārijus Latvijas attīstībai enerģētikas jomā un tādā veidā izprast nepieciešamos soļus, kas ļautu Latvijai valsts līmenī kļūt klimaneitrālākai.
                </p>
                <p>
                    Kā gala rezultātu kalkulators piedāvā trīs vizuālas reprezentācijas enerģijas ieguves un izmantošanas sadalījumam pa sektoriem, kā arī kopējās CO2 emisijas izteiktas megatonnās gada griezumā (MtCo2/yr).
                </p>
                <p>
                    Papildus informācijai tiek dots salīdzinājums ar <b>CO2 emisiju rādītāju no 1990. gada, kas ir izteikts kā procenti no 1990. gadā radītajām emisijām.</b> Mērķis ir sasniegt pēc iespējas lielāku emisijas samazinājumu, salīdzinot ar bāzes gadu - 1990.gadu. Izvēloties ambiciozākos trajektoriju līmeņus, jūs redzēsiet iespējamo CO2 emisijas samazinājumu uz 2060.gadu.
                </p>
            </div>
            <div class="content-block__img-container">
                <img src="/assets/images/example1_scenarious.png" alt="img">
                <img src="/assets/images/example2_scenarious.png" alt="img">
            </div>
        </div>
        <div class="content-blocks">
            <div class="content-block__text-container">
                <h2>Kā izveidot savu scenāriju?</h2>
                <ul>
                    <li>Kalkulatora sākuma iestatījumi vienmēr būs: visi ambīciju līmeņi = 1.</li>
                    <li>Lai mainītu šos ambīciju līmeņus detalizētāk, uzklikšķiniet uz kāda no galvenajiem sektoriem, piemēram, TRANSPORTS.</li>
                    <li>Katram sektoram ir apakšsektori, kur detalizētāk var izvēlēties mērķus, lai sasniegtu Latvijas klimatneitralitāti.</li>
                    <li>Daļai apakšsektoru ir pieejami detalizētāki apraksti (uzklikšķiniet uz kāda no apakšsektoriem, kas iekrāsojas zilā krāsā).</li>
                    <li>Katram apakašsektoru ambīciju līmenim ir neliels apraksts, kādu ietekmi šī konkrētā izvēle atstās.</li>
                    <li>Jebkuras izmaiņas ambīciju līmeņos tiek uzreiz atspoguļota grafikos.</li>
                    <li>Kā arī jebkuras izmaiņas uzreiz tiek atspoguļotas CO2 mērītājā (%), kas atrodas blakus grafikiem.</li>
                    <li>Kad vēlamais mērķis sasniegts, jūs varat saglabāt vai nosūtīt savu izspēlēto scenāriju izmantojot pogu “Dalīties”.</li>
                    <li>Lai ambīciju līmeņus atgrieztu sākuma stāvoklī, nospiediet pogu “Atiestātīt”.</li>
                    <li>Veiksmīgu izpēti!</li>
                </ul>
            </div>
            <div class="content-block__img-container">
                <img src="/assets/images/example3_scenarious.png" alt="img">
            </div>
        </div>
    </div>

    <!-- end content -->
</div>
</div>