<div class="inputs-navigation">
                  <span class="info-button info-button__scenarious">
                      <span></span>
                  </span>
                  <div class="scenario-dropdown">
                      <div class="menu-item">
                          <a href="#" id="scenarious-dropdown">
                            Scenāriju piemēri
                          </a>
                          <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.1455 1.3413L7.14551 7.33887L1.14551 1.3413" stroke="#646569" stroke-width="2"/>
                          </svg>
                          <div class="scenarious-sub-menu">
                              <div class="menu-item">
                                  <a href="#" onclick="twentyfifty.switchPathway('11222211122211221222222112222221222212212212221221111');">Visi ambīciju līmeņi 2</a>
                              </div>
                              <div class="menu-item">
                              <a href="#" onclick="twentyfifty.switchPathway('11333311133311331333333113333331333313313313331331111');">Visi ambīciju līmeņi 3</a>
                            </div>
                              <div class="menu-item">
                                  <a href="#" onclick="twentyfifty.switchPathway('11444411144411441444444114444441444414414414441441111');">Visi ambīciju līmeņi 4</a>
                                </div>
                            </div>
                      </div>
                  </div>
                  <div class="button-container hide-on-mobile">
                      <a href="/" class="button button__reset">Atiestatīt</a>
                  </div>
                  <div class="button-close-container hide-on-desktop">
                      <span class="modal-close-icon close-calculator-controls"></span>
                  </div>
              </div>