<div class="modal-goals-mask modal-project-goals">
<div class="content-container project-purpose">
                  <div class="content-blocks">
                      <div class="content-block__text-container">
                      <div class="mobile-title">
                    <h1>Projekta mērķi</h1>
                    <div class="button-close-container">
                        <span class="modal-close-icon close-goals-sidebar"></span>
                    </div>
                </div>
                          <h2>Latvijas siltumnīcefekta gāzes (SEG) emisijas un klimata politikas mērķi līdz 2050.gadam</h2>
                          <p>
                              <b>2018.gadā Latvijas SEG emisijas</b>, neskaitot zemes izmantošanu, zemes izmantošanas maiņu un mežsaimniecību (ZIZIMM) un ieskaitot netiešās CO2 emisijas, <b>bija 11273 kilotonnas (kt) CO2 ekvivalenta</b>, savukārt 10959 kt CO2 ekvivalenta, ieskaitot ZIZIMM un netiešās CO2 emisijas. <b>Kopumā Latvijas SEG emisijas kopš 1990.gada ir samazinājušās par apmēram 57 %</b>, neskaitot ZIZIMM, ieskaitot netiešās CO2 emisijas.
                          </p>
                          <p>
                              Virzība uz klimatneitralitāti un tās sasniegšana 2050.gadā ir Latvijas oglekļa mazietilpīgas attīstības stratēģijas virsmērķis. Tas ietver divus stratēģiskus mērķus:
                              <ul>
                                  <li> <b>SEG emisiju samazināšana visos tautsaimniecības sektoros;</b> </li>
                                  <li> <b>CO2 piesaistes palielināšana.</b> </li>
                              </ul>
                          </p>
                          <p>
                              Klimatneitralitāte ir stāvoklis, kurā cilvēka darbība rada “nulles neto” ietekmi uz klimata sistēmu. Šāda stāvokļa sasniegšanai nepieciešams līdzsvarot siltumnīcefekta gāzu emisijas ar oglekļa dioksīda piesaisti. Ir divas pamatpieejas klimatneitratātes sasniegšanai:
                              <ul>
                                  <li> <b>tehnoloģiskie risinājumi;</b> </li>
                                  <li> <b>dzīvesveida maiņa.</b> </li>
                              </ul>
                          </p>
                      </div>
                      <div class="content-block__img-container">
                          <img src="/assets/images/graph_project-goals.png" alt="img">
                      </div>
                  </div>
                  <div class="content-blocks">
                      <div class="content-block__text-container">
                          <p>
                              <b>Tehnoloģisko risinājumu pieeja</b> ietver risinājumus, kas primāri vērsti uz tiešiem SEG emisiju samazinājumiem (tehnoloģiskie un procesu risinājumi). Īstenojot šo taktiku, ir jāparedz būtiskas investīcijas jaunās tehnoloģijās un esošās energosistēmas pārveidošanai.
                              <br>
                              Savukārt, <b>dzīvesveida maiņas pieeja</b> ietver risinājumus, kas primāri vērsti uz dzīvesveida maiņu un netiešiem SEG emisiju samazinājumiem, īstenojot plašus sabiedrības informēšanas un izglītošanas pasākumus, kas vērsti uz patērētāju uzvedības maiņu. Pasākumi no abām šīm pieejām ir ietverti izstrādātajā kalkulatorā.
                          </p>
                          <p>
                              SEG emisiju kvantitatīvs novērtējums atbalsta pamatotu lēmuma pieņemšanas procesu, veicinot politikas veidotāju izpratni  par saitēm starp politikām un īstenojamiem pasākumiem un sagaidāmām vai jau sasniegtām SEG emisiju izmaiņām.
                          </p>
                      </div>
                  </div>
              </div>
</div>