<div class="modal-calculator-structure-mask modal-calculator-structure">
<div class="content-container calc-structure">
              <div class="content-blocks">
                <div class="content-block__text-container">
                            <div class="mobile-title">
                            <h1>Kalkulatora uzbūve</h1>
                            <div class="button-close-container">
                                <span class="modal-close-icon close-structure-sidebar"></span>
                            </div>
                        </div>
                </div>
                  <div class="content-block__img-container">
                      <img src="/assets/images/example_calc-structure.png" alt="img">
                  </div>
                  <div class="content-block__text-container">
                      <ol>
                          <li>Scenāriju piemēri - izvēlnē iespējams izvēlēties kādu no sagatavotajiem scenāriju piemēriem</li>
                          <li>Sektori - valsts enerģētikas un emisiju sistēma.</li>
                          <li>Ambīciju līmenis - iespējas izvēlēties cik lielas pārmaiņas vēlaties veikt.</li>
                          <li>Kalkulātora iestatījumus atgriezt sākuma pozīcijā (visi līmeņi atgriezti uz 1).</li>
                          <li>,</li>
                          <li>,</li>
                          <li><mark>Logs</mark>, kurā tiek atspoguļots izvēlētais grafiks</li>
                          <li>Iespēja dalīties ar savu izveidoto scenāriju (nokopēta web-linka veidā)</li>
                          <li> CO2 mērītājs, kas atspoguļo izvēlētā scenārija CO2 emisiju līmeņa samazinājumu 2060.gadā attiecībā pret bāzes gadu (1990. gads)</li>
                          <li>Grafiks, kas atspoguļo jūsu izvēles.</li>
                          <li>Ambīciju izvēlnes.</li>
                          <li>Apakšsektoru ambīciju izvēlnes.</li>
                          <li>Galvenie sekotori.</li>
                          <li>Apakšsektori (apakšsektoriem, kuri iekrāsojas zilā krāsā ir pieejams paplašināts skaidrojums).</li>
                          <li>Apakšsektoru ambīciju līmeņa skaidrojums.</li>
                          <li>Paplašināts skaidrojums par sektoriem vai ambīcijām.</li>
                      </ol>
                  </div>
              </div>
              <div class="content-blocks">
                  <div class="content-block__text-container">
                      <h2>Sektori</h2>
                      <p>
                          Klimata kalkulators 2050 darbojas, sadalot valsts enerģētikas un emisiju sistēmu vairākos <b>sektoros (nozarēs)</b>, modelējot enerģijas pieprasījumu, piedāvājumu un emisijas katrā no tiem 50 gadu periodā un pēc tam tos visas apvienojot kopā, parāda kopējos rādītājus (enerģijas ieguvi, patēriņu un Co2 emisijas desmit gadu griezumā līdz 2060. gadam).
                      </p>
                      <p>
                          <b>Valsts energosistēma ir sadalīta sekojošos sektoros:</b>
                          <ul>
                              <li>transports,</li>
                              <li>mājsaimniecība,</li>
                              <li>komercdarbība,</li>
                              <li>bioenerģijas apgāde,</li>
                              <li>enerģijas ražošana.</li>
                          </ul>
                      </p>
                      <p>
                          Katram no sektoriem ir vairāki apakšsektori, kam savukārt ir katram izstrādātas sektoram atbilstošas trajektorijas/ambīciju līmeņi. Katram apakšsektoram ir izstrādātas <b>4 trajektorijas (no 1. līdz 4. līmenim)</b>. Gadījumos, ja izvēle starp dažādām iespējām ir ar līdzīgu ambīciju līmeni vai ja jēdziens "ambīcija" nav īsti piemērojams, tad līmeņi ir apzīmēti ar <b>A, B, C un D, nevis 1, 2, 3 un 4.</b>
                      </p>
                  </div>
                  <div class="content-block__text-container">
                      <h2>Ambīciju līmeņi</h2>
                      <p>
                          Ambīciju līmeņi katrā no sektoriem ir atšķirīgi un pielāgoti attiecīgajai nozarei, bet visi seko līdzīgiem pieņēmumiem:
                          <ol>
                              <li>līmenis - lielas pārmaiņas attiecīgajā sektorā netiek plānotas līdz 2050.gadam;</li>
                              <li>līmenis - dažas “minimālas piepūles” izmaiņas tiek veiktas līdz 2050.gadam (atkarīgas no katra sektora izvirzītajiem mērķiem un iespējām);</li>
                              <li>līmenis - tiek veiktas izmaiņas, kas ir stipri ambiciozākas, bet uzskatāmas par iespējamām;</li>
                              <li>līmenis - iespaidīgas izmaiņas, kas nav viegli sasniedzamas vai pat vēlamas. Šīs ir ekspertu ieskatā ļoti grūti realizējamas izmaiņas no tehnoloģiskā viedoļa.</li>
                          </ol>
                      </p>
                      <p>
                          Pie katra no amīciju līmeņiem ir iespējams iepazīties ar īsu tā aprakstu (novietojot kursoru uz izvēlētā ambīciju līmeņa, vai mobilajā versijā uzklikšķinot uz izvēlētā ambīciju līmeņa), kā arī atsevišķiem apakšsektotiem ir pieejami garāki apraksti (pdf dokumenti) ar izvērstāku skaidrojumu par attiecīgo nozari.
                      </p>
                      <p>
                          Balstoties uz jūsu izvēlēto ambīciju līmeni, ko izvēlaties katrai nozarei, kalkulatora modelis aprēķina enerģijas un materiālu patēriņu, siltumnīcefekta gāzu emisijas un no tā izrietošo ietekmi uz sabiedrību, vidi un zemes izmantošanu, kas tiek reprezentēta oglekļa emisijas ekvivalentos (CO2ekv).
                      </p>
                  </div>
              </div>
          </div>
</div>