<div class="modal-about-mask modal-project-about">
<div class="content-container about-project">
                <div class="content-blocks">
                    <div class="content-block__text-container">
                    <div class="mobile-title">
                    <h1>Projekts</h1>
                    <div class="button-close-container">
                        <span class="modal-close-icon close-about-sidebar"></span>
                    </div>
                </div>
                        <h2>Kas ir Klimata Kalkulators 2050?</h2>
                        <p>
                            Klimata kalkulatora 2050 (KK2050) pirmsākumi ir meklējami Lielbritānijā, kur tas tika radīts kā open-source projekts, lai palīdzētu risināt ar klimata izmaiņām saistītās problēmas un sniegtu ieskatu pēc iespējas lielākam skaitam cilvēku par esošajām ar klimata izmaiņām saistītajām problēmām un nepieciešamajiem soļiem to risināšanā. KK2050 primāri ir domāts kā informētības un izpratnes avots par potenciālajiem soļiem valsts līmenī, ko iespējams veikt, lai virzītu Latviju “nulles emisijas” virzienā.
                            <br><br>
                            Šobrīd KK2050 ir pielāgots vairāku valstu datiem un to piemēri ir atrodami <a href="https://www.gov.uk/guidance/international-outreach-work-of-the-2050-calculator">šeit.</a>
                            <br><br>
                            Latvijas Klimata kalkulatora 2050 web-versiju* pielāgoja <b>RigaTechGirls</b> komanda ar <b>Lielbritānijas vēstniecības Latvijā</b> un <b>Latvijas Republikas Vides aizsardzības un reģionālās attīstības ministrijas</b> atbalstu. Latvijas enerģētikas dati tika pielāgoti sadarbībā ar <b>Latvijas enerģētikas ekspertiem.</b>
                        </p>
                    </div>
                    <div class="content-block__img-container">
                        <a class="rtg" href="https://www.rigatechgirls.com/">
                            <img src="/assets/logos/logo_RTG.svg" alt="logo">
                        </a>
                        <a class="brittish-embassy" href="https://www.gov.uk/world/organisations/british-embassy-riga">
                            <img src="/assets/logos/logo_Brittish_embassy.svg" alt="logo">
                        </a>
                        <a href="https://www.varam.gov.lv/">
                            <img src="/assets/logos/logo_VARAM.svg" alt="logo">
                        </a>
                    </div>
                    <div class="content-block__text-container">
                        <h2>Projekta komanda</h2>
                        <p>
                            <b>Latvijas Klimata kalkulatora web-platformas izstrāde:</b>
                            <ul>
                                <li>Oksana Tatarina (Riga TechGirls), projekta vadītāja</li>
                                <li>Ieva Bidermane, datu analītiķe</li>
                                <li>Ilze Bērenfelde, UX/UI, web dizainere</li>
                                <li>Monta Kaļva, back-end izstrādātāja</li>
                                <li>Kristiāna Tatarčuka, front-end izstrādātāja</li>
                            </ul>
                        </p>
                        <p>
                            <b>Mentori (Riga TechGirls):</b>
                            <ul>
                                <li>Anna Andersone, Lina Sarma, Uldis Siliņš, Anastasija Razumilova, Kevin Irlen.</li>
                            </ul>
                        </p>
                        <p>
                            *Latvijas Klimata Kalkulatoram 2050 ir informatīvs mērķis. Lielbritānija vēstniecība un Riga TechGirls organizācijas neuzņemas atbildību par publicēto datu patiesumu un radītām sekām no rīka un tā satura izmantošanas.
                        </p>
                    </div>
                </div>
            </div>
</div>