<div class="modal-calculator-scenarious-mask modal-calculator-scenarious">
<div class="content-container scenarious">
        <div class="content-blocks">
          <div class="content-block__text-container">
                  <div class="mobile-title">
                  <h1>Sava scenārija izveide</h1>
                  <div class="button-close-container">
                      <span class="modal-close-icon close-scenarious-sidebar"></span>
                  </div>
              </div>
          </div>
            <div class="content-block__text-container">
                <p>
                    Kalkulators ļauj izspēlēt dažādus scenārijus Latvijas attīstībai enerģētikas jomā un tādā veidā izprast nepieciešamos soļus, kas ļautu Latvijai valsts līmenī kļūt klimaneitrālākai.
                </p>
                <p>
                    Kā gala rezultātu kalkulators piedāvā trīs vizuālas reprezentācijas enerģijas ieguves un izmantošanas sadalījumam pa sektoriem, kā arī kopējās CO2 emisijas izteiktas megatonnās gada griezumā (MtCo2/yr).
                </p>
                <p>
                    Papildus informācijai tiek dots salīdzinājums ar <b>CO2 emisiju rādītāju no 1990. gada, kas ir izteikts kā procenti no 1990. gadā radītajām emisijām.</b> Mērķis ir sasniegt pēc iespējas lielāku emisijas samazinājumu, salīdzinot ar bāzes gadu - 1990.gadu. Izvēloties ambiciozākos trajektoriju līmeņus, jūs redzēsiet iespējamo CO2 emisijas samazinājumu uz 2060.gadu.
                </p>
            </div>
            <div class="content-block__img-container">
                <img src="/assets/images/example1_scenarious.png" alt="img">
                <img src="/assets/images/example2_scenarious.png" alt="img">
            </div>
        </div>
        <div class="content-blocks">
            <div class="content-block__text-container">
                <h2>Kā izveidot savu scenāriju?</h2>
                <ul>
                    <li>Kalkulatora sākuma iestatījumi vienmēr būs: visi ambīciju līmeņi = 1.</li>
                    <li>Lai mainītu šos ambīciju līmeņus detalizētāk, uzklikšķiniet uz kāda no galvenajiem sektoriem, piemēram, TRANSPORTS.</li>
                    <li>Katram sektoram ir apakšsektori, kur detalizētāk var izvēlēties mērķus, lai sasniegtu Latvijas klimatneitralitāti.</li>
                    <li>Daļai apakšsektoru ir pieejami detalizētāki apraksti (uzklikšķiniet uz kāda no apakšsektoriem, kas iekrāsojas zilā krāsā).</li>
                    <li>Katram apakašsektoru ambīciju līmenim ir neliels apraksts, kādu ietekmi šī konkrētā izvēle atstās.</li>
                    <li>Jebkuras izmaiņas ambīciju līmeņos tiek uzreiz atspoguļota grafikos.</li>
                    <li>Kā arī jebkuras izmaiņas uzreiz tiek atspoguļotas CO2 mērītājā (%), kas atrodas blakus grafikiem.</li>
                    <li>Kad vēlamais mērķis sasniegts, jūs varat saglabāt vai nosūtīt savu izspēlēto scenāriju izmantojot pogu “Dalīties”.</li>
                    <li>Lai ambīciju līmeņus atgrieztu sākuma stāvoklī, nospiediet pogu “Atiestātīt”.</li>
                    <li>Veiksmīgu izpēti!</li>
                </ul>
            </div>
            <div class="content-block__img-container">
                <img src="/assets/images/example3_scenarious.png" alt="img">
            </div>
        </div>
    </div>
</div>