<div class="modal-how-to-use-mask modal-how-to-use">
                <div class="content-blocks">
                    <div class="content-block__text-container">
                    <div class="mobile-title">
                        <h1>Kopsavilkums</h1>
                        <div class="button-close-container">
                            <span class="modal-close-icon close-howto-sidebar"></span>
                        </div>
                    </div>

                        <p>
                            Ja <b>Latvijas mērķis</b> 2050.gadā ir klimatneitralitāte, tad, lai to izdarītu, mums ir jādekarbonizē Latvijas ekonomika un vienlaicīgi jānodrošina droša enerģijas piegāde.
                        </p>
                        <h2>Kā to var izdarīt?</h2>
                        <p>
                            Klimata kalkulators 2050 dod jums iespēju vadīt un izveidot paša izvēlētu enerģētikas attīstības ceļu valstij laika posmam līdz 2060.gadam.
                        </p>
                        <h2>Kas ir Klimata Kalkulators 2050?</h2>
                        <p>
                            Izstrādātais Klimata kalkulators 2050 ir interaktīvs, vienkāršs saziņas rīks, kas dod iespēju potenciāliem lietotājiem veidot Latvijas klimatneitralitātes alternatīvus scenārijus un salīdzināt dažādu klimata samazinošo pasākumu ietekmi uz mērķa sasniegšanu.
                            <br><br>
                            Kalkulators ir kā spēle un lielisks vingrinājums ikvienam, kas interesējas par iespējamiem Latvijas enerģētikas attīstības un klimatneitralitātes scenārijiem.
                        </p>
                        <h2>Kā tas darbojas?</h2>
                        <p>
                            Kalkulators modelē to, kas tiek uzskatīts par fiziski un tehniski iespējamu trīsdesmit septiņos dažādos sektoros. Tā pamatā ir atsauces gada (2017. gads) energobilance un aprēķinātās siltumnīcefekta gāzu emisijas Latvijā un zinātniskie un inženiertehniskie dati par iespējamām sistēmas attīstības robežām.
                        </p>
                        <h2>Kāds ir Klimata Kalkulatora 2050 mērķis?</h2>
                        <p>
                            Kalkulators ļauj apsvērt izvēles iespējas un kompromisus, ar kuriem saskaramies. Tas attiecas uz visiem ekonomikas sektoriem un visām siltumnīcas efektu izraisošo gāzu emisijām Latvijā. Izmantojot Klimata Kalkulatoru 2050, varat izveidot ceļus, lai noskaidrotu, kā mēs varētu samazināt Latvijas siltumnīcefekta gāzu emisijas līdz neto nullei līdz 2050. gadam un arī tālākam laika periodam.
                            <br><br>
                            Jūs izvēlaties savu “ambīciju līmeni” dažādu enerģijas sistēmas daļu dekarbonizēšanai, un kalkulators parāda, kā jūsu izvēle ietekmē Latvijas emisijas, kas izteiktas kā oglekļa dioksīda ekvivalents (CO2ekv).
                        </p>
                    </div>
                </div>
                <div class="content-blocks">
                    <div class="content-block__img-container">
                        <img src="/assets/images/example_summary.png" alt="image">
                    </div>
                    <div class="content-block__text-container">
                        <p>Katrai izvēlei ir izstrādātas četras trajektorijas <b>(ambīciju līmeņi)</b>, sākot ar nelielu emisiju samazināšanu vai bez tās <b>(1. līmenis vai A līmenis)</b> un beidzot ar ļoti vērienīgām pārmaiņām, kas ir vērstas uz to, lai sasniegtu fiziskos vai tehniskos ierobežojumus <b>(4. līmenis)</b>. Modelī tiek dots īss šo trajektoriju (ambīciju līmeņu) pieņēmumu apraksts.</p>
                        <h2>Piedāvātās izvēles kalkulatorā ir sadalītas piecos sektoros:</h2>
                        <ul>
                            <li>transports,</li>
                            <li>mājsaimniecība,</li>
                            <li>komercdarbība,</li>
                            <li>bioenerģijas apgāde,</li>
                            <li>enerģijas ražošana.</li>
                        </ul>
                        <p>
                            Katram no sektoriem ir vairāki apakšsektori, kam, savukārt, ir katram izstrādātas sektoram atbilstošas trajektorijas (ambīciju līmeņi).
                            <br><br>
                            Balstoties uz jūsu izvēlēto ambīciju līmeni, ko izvēlaties katrai nozarei, kalkulatora modelis aprēķina enerģijas un materiālu patēriņu, siltumnīcefekta gāzu emisijas un no tā izrietošo ietekmi uz sabiedrību, vidi un zemes izmantošanu, kas tiek reprezentēta oglekļa emisijas ekvivalentos (CO2ekv).
                        </p>
                    </div>
                </div>
            </div>