body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0; }

#svgWarn {
  display: none;
  padding: 10px;
  text-align: center;
  background-color: #faa; }

#calculating {
  font-size: 0.72em;
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0px;
  text-align: center;
  z-index: 10; }
  #calculating span {
    padding: 3px;
    background-color: yellow; }

#results {
  overflow: hidden; }

#snippets {
  display: none;
}
