body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0; }

#svgWarn {
  display: none;
  padding: 10px;
  text-align: center;
  background-color: #faa; }

#calculating {
  font-size: 0.72em;
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0px;
  text-align: center;
  z-index: 99; }
  #calculating span {
    padding: 3px;
    background-color: yellow; }

#results {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: row-reverse;
}

@media screen and (max-width: 1081px) {
  #results {
    flex-direction: column-reverse;
  }
}


#snippets {
  display: none;
}

.levers-container {
  max-height: 568px;
  overflow-y: scroll;
}

.levers-subsector-container {
  padding: 3px 8px 0;
  align-self: normal;
}

.scenarious-sub-menu {
  display: none;
}

#supply_chart,
#emissions_chart {
  display: none;
}

#demand_chart {
  width: 500px;
}
#emissions_chart {
  width: 500px;
}

#supply_chart {
  width: 500px;
}

@media screen and (max-width: 768px) {
  #demand_chart {
    width: 90%;
  }

  #emissions_chart {
    width: 90%;
  }

  #supply_chart {
    width: 90%;
  }
}

body .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu {
  margin: 26px;
}


.subtab-menu-charts a {
  padding: 4.5px 12px;
  margin: 0 12px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #646569;
  text-decoration: none;
}

.subtab-menu-charts a:hover {
  cursor: pointer;
  font-weight: 500;
  border-radius: 50px;
  background: #EBF3FF;
}

.subtab-menu-charts a:active {
  cursor: pointer;
  font-weight: 500;
  border-radius: 50px;
  background: #FFF3D3;
}

.subtab-menu-charts a.chart-selected {
  background: #FFF3D3;
  font-weight: 500;
  border-radius: 50px;
}

.calculator-wrapper .calculator-blocks .calculator-inputs .levers-container .levers-table .levers .levers-sector-container div.levers-subsector-container.open {
  display: flex;
}

.calculator-wrapper .calculator-blocks .calculator-inputs .levers-container .levers-table .levers .levers-sector-container div.levers-subsector-container {
  display: none;
}
/*  mobile */
.calculator-wrapper .calculator-blocks .calculator-inputs.open {
  display: flex;
  position: relative;
  z-index: 999;
  padding-left: 5px;
  padding-right: 5px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@media screen and (max-width: 921px) {
  .calculator-wrapper .calculator-blocks .calculator-inputs.open {
    position: absolute;
    top: 75px;
  }
}

@media screen and (max-width: 768px) {
 body .calculator-wrapper .calculator-blocks {
    padding: 0;
  }
}

.modal-how-to-use-mask.modal-how-to-use,
.modal-about-mask.modal-about-project {
  display: none;
}

.header-wrapper .header-block .page-links nav.navigation-desktop a.page-link-item.active-tab {
  height: 50px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #49494D;
  background-color: #F1F1F1;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

body .calculator-wrapper,
body .how-to-use-wrapper,
body .about-page-wrapper {
  display: none;
}

.how-to-use-wrapper.active-page,
.about-page-wrapper.active-page,
.calculator-wrapper.active-page {
  display: flex;
}

.gauge-horizontal {
  display: none;
}


.gauge-vertical {
  display: inline-block;
}

@media screen and (max-width: 1081px) {
  .gauge-vertical {
    display: none;
  }

  .gauge-horizontal {
    display: inline-block;
  }
}

/* gauge */
.outer-wrapper{
  margin: 5px 30px 5px 15px;
  padding: 25px 0;
  min-width: 20px;
  position: relative;
}

.outer-wrapper .label {
  color: #646569;
  font-size: 12px;
  font-weight: 600;
}

.gauge-vertical .label-begin {
  position: absolute;
    z-index: 1;
    left: -14px;
    top: 35px;
}

.gauge-vertical .label-end {
  position: absolute;
    bottom: 35px;
    left: -14px;
    font-size: 12px;
}

.gauge-horizontal .label-begin {
  position: absolute;
    z-index: 1;
    top: 28px;
    left: -15px;
}

.gauge-horizontal .label-end {
  position: absolute;
  bottom: 31px;
  right: -12px;
    font-size: 12px;
}

.gauge-vertical .column-wrapper{
  height: 300px;
  width: 24px;
  background: #F1F1F1;
  /* transform: rotate(180deg); */
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}

.gauge-vertical .column{
  width: 24px;
  height: 0%;
  background: #C7DDFD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0px;
  border-bottom: 2px solid #829A59;
}

.gauge-horizontal .column-wrapper{
  width: 260px;
  height: 24px;
  background: #F1F1F1;
  /* transform: rotate(180deg); */
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}

.gauge-horizontal .column{
  height: 24px;
  width: 0%;
  background: #C7DDFD;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 0px;
  border-right: 2px solid #829A59;
}

.percentage, .value{
  margin-top: 10px;
  padding: 5px 10px;
  color: #FFF;
  background: #263238;
  position: relative;
  border-radius: 4px;
  text-align: center;
}

.label-percent {
  position: absolute;
  background-color: #829A59;
  color: #fff;
  padding: 3px;
  border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    left: -30px;
}

.gauge-horizontal .label-percent {
  top: -20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  border-bottom-left-radius: 0;
}

.value{
  background: #7986CB;
}

.share_link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #49494D;
  padding: 4px 20px;
  background: #F1F1F1;
  border-radius: 50px;
  border: none;
}

.share_link:hover {
  cursor: pointer;
}

.button__reset {
  text-decoration: none;
}

.mobile-charts-sub-menu {
display: none;
}

.charts-dropdown .menu-item {
  background: #fff;
}

.mobile-controls-wrapper {
  display: none;
}

@media screen and (max-width: 921px) {
  .mobile-controls-wrapper {
    display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      width: 100%;
      box-sizing: border-box;
  }
}


.hide-on-mobile {
  display: flex !important;
}
.hide-on-desktop {
  display: none !important;
}
@media screen and (max-width: 921px) {
  .levers-sector .lever-steps-container .lever-step {
    height: 30px;
    width: 30px;
  }

  .sector-logo img {
    height: 24px;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .hide-on-desktop {
    display: flex !important;
  }
}

#backdrop {
  display: none !important;
}

/* .hide-overflow {
  overflow: hidden;
} */

@media screen and (max-width: 921px) {
  .hide-overflow {
    overflow: hidden;
  }

  #backdrop {
    background: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
  }

  .visible {
    display: block !important;
  }
}



.inputs-navigation .button-close-container {
  flex: 2;
  height: 100%;
  justify-content: right;
  padding: 20px;
}