#classic_controls {
  font-size: 0.72em;
  
  #demand, #supply, #other {
    padding: 0;
    border: 0;
    margin: 0;
    margin-left: 2.5%;
    width: 30%;
    float: left;
  }
  
  table {
    width: 100%;
    tr:hover {
      td.name {
        font-weight: bold;
        background-image: url('/assets/images/oneblackpixel.png');
      };
    }
    td.choice {
      width: 20px;
      a {
       display: block;
       width: 100%;
       text-align: center;
       color: #888;
       text-decoration: none;
       border: solid #ccc 1px;
      }
      a:hover {
        border: solid #000 1px;
      }
      a.selected {
        color: #000;
      }
    }
    td.name {
      background-image: url('/assets/images/onegreypixel.png');
      background-position: left center;
      background-repeat: repeat-x;
      a {
        background-color: #fff;
	text-decoration: none;
	color: #000;
	cursor: help;
      }
      a:hover {
	text-decoration: underline;
      }
    }
    tr.incremental {
      @for $c from 1 through 4 {
        @for $i from 1 through 9 {
          a.level#{$c}_#{$i} {
            background-position: left center;
            background-repeat: repeat-y;
            background-image: url('/assets/images/fractions/level#{$c}_#{$i}.png');
          }
        }
      }
            
      a.level1 {
        background-color: #92C979;
      }
      a.level2 {
        background-color: #EFDD60;
      }
      a.level3 {
        background-color: #FFAE55;
      }
      a.level4 {
        background-color: #F44545;
      }
      
    }
    tr.alternative {
      a.selected {
       background-color: #aaa;  
      }
    }
  }
}
