#costscomparedoverview {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  height: 600px; }

.costscomparedoverview h1 {
  font-size: 16px;
  margin-left: 250px; }
