#energysecurity .column {
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.5%;
  font-size: 12px;
  width: 30%;
  margin-bottom: 30px;
  float: left; }

#energysecurity td.value, #energysecurity th.value {
  text-align: right; }
#energysecurity th.year {
  text-align: center;
  border-bottom: solid 1px #000; }

#energysecurity table {
  width: 100%;
}

#energysecurity .clear {
  clear: both; }
