// Place all the styles related to the pathways controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

#svgWarn {
  display: none;
  padding: 10px;
  text-align: center;
  background-color: #faa;
}

#calculating {
  font-size: 0.72em;
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0px;
  text-align: center;
  z-index: 10;
  span {
    padding: 3px;
    background-color: yellow;
  }
}

#results {
  overflow: hidden;
}

.chart {
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.4%;
  width: 30%;
  margin-bottom: 0px;
  float: left;    
}

.charttitle {
  text-anchor: middle;
  font-size: 1em;
}

text.target {
  text-anchor: middle;
  font-size: 0.72em;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.axis text {
  font-size: 0.72em;
  fill: #000;
}

.axislabel {
  text-anchor: end;
  font-size: 0.72em;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.linelabel {
  font-size: 0.72em;
  cursor: default;
}

.area {
  fill-opacity: 1;
}

path.total {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

text.total {
}

text.seriesValue {
  font-size: 0.72em;
  text-anchor: middle;
}

path.total.hover {
  stroke-width: 3px;
}

path.hover {
  stroke: black;
  stroke-width: 1px;
}

.linelabel.hover {
  fill: black !important;
  font-weight: bold;
}

.labelbackground {
  fill: white;
}

g.context {
  path {
    fill: grey;
    fill-opacity: 0.02;
  }
}

.environmentalheat {
  fill: rgb(199, 199, 40); 
}
