// Place all the styles related to the pathways controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Times;
  margin: 0;
  padding: 0;
}

.chart {
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.4%;
  width: 30%;
  height: 300px;
  margin-bottom: 30px;
  float: left;    
}

.charttitle {
  text-anchor: middle;
  font-family: Times;
  font-size: 1em;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Times;
  font-size: 0.72em;
}

.axislabel {
  text-anchor: end;
  font-family: Times;
  font-size: 0.72em;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.linelabel {
  font-family: Times;
  font-size: 0.72em;
}

.area {
  fill-opacity: 1;
}

path.total {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

text.total {
}

path.total.hover {
  stroke-width: 3px;
}

path.hover {
  stroke: black;
  stroke-width: 2px;
}

text.hover {
  fill: black !important;
  font-weight: bold;
  fill-opacity: 1 !important;
}

.area0, .linelabel0 {
  fill: green;
}

.area1, .linelabel1 {
  fill: red;
}

.area2, .linelabel2 {
  fill: grey;
}

.area3, .linelabel3 {
  fill: black;
}

.area4, .linelabel4 {
  fill: yellow;
}

.line0 {
  stroke: green;
}


.line1 {
  stroke: red;
}

.line3 {
  stroke: green;
  stroke-dasharray: 5, 5;
}

