// Place all the styles related to the pathways controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Times;
  margin: 0;
  padding: 0;
}

.chart {
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.4%;
  width: 30%;
  margin-bottom: 0px;
  float: left;    
}

.charttitle {
  text-anchor: middle;
  font-family: Times;
  font-size: 1em;
}

text.target {
  text-anchor: middle;
  font-family: Times;
  font-size: 0.72em;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.axis text {
  font-family: Times;
  font-size: 0.72em;
  fill: #000;
}

.axislabel {
  text-anchor: end;
  font-family: Times;
  font-size: 0.72em;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.linelabel {
  font-family: Times;
  font-size: 0.72em;
}

.area {
  fill-opacity: 1;
}

path.total {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

text.total {
}

text.seriesValue {
  font-size: 0.72em;
  font-family: Ties;
  text-anchor: middle;
}

path.total.hover {
  stroke-width: 3px;
}

path.hover {
  stroke: black;
  stroke-width: 2px;
}

.linelabel.hover {
  fill: black !important;
  font-weight: bold;
}

.labelbackground {
  fill: white;
}

g.context {
  path {
    fill: grey;
    fill-opacity: 0.02;
  }
}

.environmentalheat {
  fill: rgb(199, 199, 40); 
}
