// Place all the styles related to the pathways controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Times;
  margin: 0;
  padding: 0;
}

.chart {
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.4%;
  width: 30%;
  height: 300px;
  margin-bottom: 30px;
  float: left;    
}

