#tooltip {
  display: none;
  background-color: #FFFF00;
  color: #000;
  border: 2px solid #000;
  border-radius: 15px 15px 0px 15px;
  box-shadow: 0 0 5px #888;
  font-size: 12px;
  width: 14em;
  padding: 10px;
  z-index: 10000; }
