@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
.header-wrapper {
  background: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: solid 8px #F1F1F1;
}
.header-wrapper .header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 34px;
  margin: auto;
  position: relative;
}
.header-wrapper .header-block .logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0;
}
.header-wrapper .header-block .logo-block .header-title {
  width: 135px;
  text-align: left;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #646569;
  margin-left: 12px;
}
.header-wrapper .header-block .page-links {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.header-wrapper .header-block .page-links .burger-menu-icon {
  display: none;
}
.header-wrapper .header-block .page-links .burger-menu-icon .nav-hamburger {
  content: url(/assets/icons/Hamburger.svg);
  height: 16px;
  width: 25px;
}
.header-wrapper .header-block .page-links .burger-menu-icon .nav-hamburger:hover {
  cursor: pointer;
}
.header-wrapper .header-block .page-links nav.navigation-desktop {
  display: flex;
  align-items: flex-end;
}
.header-wrapper .header-block .page-links nav.navigation-desktop .page-link-item {
  height: 40px;
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  color: #646569;
  text-decoration: none;
  margin-right: 8px;
}
.header-wrapper .header-block .page-links nav.navigation-desktop .page-link-item:last-child {
  margin-right: 90px;
}
.header-wrapper .header-block .page-links nav.navigation-desktop .page-link-item:hover {
  background-color: #D9D9D9;
  border-radius: 4px 4px 0 0;
  font-size: 13px;
  line-height: 15px;
}
.header-wrapper .header-block .page-links nav.navigation-desktop .page-link-item.router-link-exact-active {
  height: 50px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #49494D;
  background-color: #F1F1F1;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header-wrapper .header-block .page-links nav.navigation-modal-windows {
  display: none;
}
.header-wrapper .header-block .page-links nav.navigation-modal-windows a {
  text-decoration: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  color: #646569;
}
@media screen and (max-width: 920px) {
  .header-wrapper .header-block .page-links {
    align-items: center;
  }
  .header-wrapper .header-block .page-links nav.navigation-desktop {
    display: none;
  }
  .header-wrapper .header-block .page-links .burger-menu-icon {
    display: flex;
  }
  .header-wrapper .header-block .page-links.open .burger-menu-icon {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: right;
    padding-right: 35px;
    box-sizing: border-box;
    align-items: center;
    font-size: 19px;
    height: 114px;
    width: 200px;
    padding-bottom: 0;
    border-radius: 20px 0px 0px 0px;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25);
  }
  .header-wrapper .header-block .page-links.open .burger-menu-icon .nav-hamburger {
    content: url(/assets/icons/Close.svg);
  }
}
@media screen and (max-width: 920px) and (max-width: 440px) {
  .header-wrapper .header-block .page-links.open .burger-menu-icon {
    width: 167px;
  }
}
@media screen and (max-width: 920px) {
  .header-wrapper .header-block .page-links.open nav.navigation-modal-windows {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 124px;
    right: 0;
    background: #F1F1F1;
    width: 200px;
    height: calc(100vh - 124px);
    filter: drop-shadow(-1px 10px 4px rgba(0, 0, 0, 0.25));
  }
  .header-wrapper .header-block .page-links.open nav.navigation-modal-windows a {
    text-align: right;
    padding-right: 35px;
    padding-top: 20px;
    margin-right: 0;
  }
  .header-wrapper .header-block .page-links.open nav.navigation-modal-windows a:hover, .header-wrapper .header-block .page-links.open nav.navigation-modal-windows a:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 4px 4px 4px 4px;
  }
  .header-wrapper .header-block .page-links.open nav.navigation-modal-windows a.router-link-exact-active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 4px 4px 4px 4px;
  }
}
@media screen and (max-width: 920px) and (max-width: 440px) {
  .header-wrapper .header-block .page-links.open nav.navigation-modal-windows a {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 920px) and (max-width: 440px) {
  .header-wrapper .header-block .page-links.open nav.navigation-modal-windows {
    width: 167px;
  }
}
@media screen and (max-width: 440px) {
  .header-wrapper .header-block {
    padding: 0 20px;
  }
}
.button-scenarious-wrapper .button-scenarious {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  background: #DEA613;
  border-radius: 4px;
  border: none;
  white-space: nowrap;
  padding: 8px 12px;
  display: none;
}
.button-scenarious-wrapper .button-scenarious:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.button-scenarious-wrapper .button-scenarious:active {
  background: #FFC627;
}
@media screen and (max-width: 1254px) {
  .button-scenarious-wrapper .button-scenarious {
    display: block;
    margin-bottom: 15px;
  }
}
.button-info-container .info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
}
.button-info-container .info-button:hover {
  cursor: pointer;
}
.button-info-container .info-button span {
  border: solid 2px #C7DDFD;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
}
.button-info-container .info-button span:hover {
  background-color: #C7DDFD;
}
.button-container .button {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
}
.button-container .button__reset {
  background: #DEA613;
}
.button-container .button__reset:active {
  background: #FFC627;
}
.button-container .button__results {
  background: #829A59;
}
.button-container .button__results:active {
  background: #B5CC8D;
}
.button-container .button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.levers-sector-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.levers-sector-container:first-child .levers-sector {
  padding-top: 8px;
}
.levers-sector-container .levers-sector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 28px 8px 10px;
}
.levers-sector-container .levers-sector .card {
  height: 70px;
  width: 202px;
  border: solid 1px #F1F1F1;
  border-radius: 4px;
  background: #F1F1F1;
  box-sizing: border-box;
  margin-right: 8px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.levers-sector-container .levers-sector .card:hover {
  cursor: pointer;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.levers-sector-container .levers-sector .card.active {
  height: 35px;
  box-shadow: none;
  background: #F1F1F1;
  border: 1px solid #F1F1F1;
}
.levers-sector-container .levers-sector .card.active .sector-name {
  white-space: nowrap;
}
.levers-sector-container .levers-sector .card.active .sector-logo img {
  height: 24px;
}
.levers-sector-container .levers-sector .card.active:hover {
  cursor: pointer;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.levers-sector-container .levers-sector .card .sector-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #49494D;
  text-transform: uppercase;
}
.levers-sector-container .levers-subsector-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 7px 29px 12px 11px;
  box-sizing: border-box;
}
.levers-sector-container .levers-subsector-container .levers-subsectors {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.levers-sector-container .levers-subsector-container .levers-subsectors .subsector-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
  align-items: center;
}
.levers-sector-container .levers-subsectors {
  display: flex;
}
.levers-sector-container .levers-subsectors .subsector-container {
  display: flex;
  flex-direction: row;
}
.levers-sector-container .levers-subsectors .subsector-container .subsector-name {
  display: flex;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: #49494D;
  border-bottom: solid 1px #F1F1F1;
  height: 100%;
  width: 100%;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
.levers-sector-container .levers-subsectors .subsector-container .subsector-name:hover {
  color: #67B2E8;
}
.levers-sector-container .levers-subsectors .subsector-container:last-child .subsector-name {
  border-bottom: none;
}
.lever-steps-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 4px;
}
.lever-steps-container .lever-step {
  height: 35px;
  width: 35px;
  background: #D9D9D9;
  transition: all300ms ease;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lever-steps-container .lever-step:hover {
  cursor: pointer;
  background-color: #8E8F90;
}
.lever-steps-container .lever-step.active {
  background-color: #949D85;
}
.lever-steps-container.subsectors .lever-step {
  height: 25px;
  width: 25px;
}
.lever-steps-container.subsectors .lever-step.active {
  background-color: #949D85;
}
.scenario-dropdown {
  display: flex;
  padding-left: 10px;
}
.scenario-dropdown .menu-item {
  width: 202px;
  box-sizing: border-box;
  padding-left: 19px;
}
.scenario-dropdown .menu-item a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #646569;
  text-decoration: none;
}
.scenario-dropdown .menu-item svg {
  margin-left: 10px;
}
.scenario-dropdown .menu-item .fade-enter-active,
.scenario-dropdown .menu-item .fade-leave-active {
  transition: all 0.5s ease-in-out;
}
.scenario-dropdown .menu-item .fade-enter,
.scenario-dropdown .menu-item .fade-leave-to {
  opacity: 0;
}
.scenario-dropdown .menu-item .sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #FFFFFF;
  top: calc(100% - 4px);
  left: 0;
  width: 211px;
  height: max-content;
  border-radius: 0 0 4px 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  padding: 6px 11.5px 11.5px 11.5px;
  box-sizing: border-box;
}
.scenario-dropdown .menu-item .sub-menu .menu-item {
  background: #F1F1F1;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.scenario-dropdown .menu-item .sub-menu .menu-item:hover {
  cursor: pointer;
}
.scenario-dropdown .menu-item .sub-menu .menu-item a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #646569;
}
.scenario-dropdown .menu-item .sub-menu .menu-item a:hover {
  color: #67B2E8;
}
.calculator-wrapper {
  display: flex;
  background: #F1F1F1;
}
.calculator-wrapper .calculator-blocks {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 1210px;
  padding: 50px 34px 15px 34px;
  margin: auto;
}
@media screen and (max-width: 1254px) {
  .calculator-wrapper .calculator-blocks {
    max-width: 756px;
  }
}
@media screen and (max-width: 920px) {
  .calculator-wrapper .calculator-blocks {
    padding: 28px 39px 15px 39px;
  }
}
@media screen and (max-width: 430px) {
  .calculator-wrapper .calculator-blocks {
    padding: 18px 20px 15px 20px;
  }
}
.calculator-wrapper .calculator-blocks .calculator-inputs {
  max-width: 420px;
  width: 100%;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .inputs-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 8px;
  position: relative;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .inputs-navigation .button-container {
  display: flex;
  flex: 2;
  justify-content: right;
  padding-right: 10px;
  border-left: solid 1px #D9D9D9;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .inputs-navigation .button-container .button-reset {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 8px 12px;
  background: #DEA613;
  border-radius: 4px;
  border: none;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .inputs-navigation .button-container .button-reset:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .inputs-navigation .button-container .button-reset:active {
  background: #FFC627;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .levers-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.calculator-wrapper .calculator-blocks .calculator-inputs .levers-container .levers-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .levers-container .levers-header .levers-column__sectors, .calculator-wrapper .calculator-blocks .calculator-inputs .levers-container .levers-header .levers-column__steps {
  border-bottom: 1px solid #D9D9D9;
  display: flex;
  flex-direction: row;
  flex: 2;
  align-items: center;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .levers-container .levers-header .levers-column__sectors p, .calculator-wrapper .calculator-blocks .calculator-inputs .levers-container .levers-header .levers-column__steps p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #646569;
  padding-left: 4px;
  margin: 17.5px 0;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .levers-container .levers-header .levers-column__steps {
  padding-left: 18px;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .levers-container .levers-table {
  display: flex;
  margin-top: 23px;
  margin-bottom: 35px;
  overflow-y: scroll;
  max-height: 400px;
}
.calculator-wrapper .calculator-blocks .calculator-inputs .levers-container .levers-table .levers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1254px) {
  .calculator-wrapper .calculator-blocks .calculator-inputs {
    display: none;
  }
}
.calculator-wrapper .calculator-blocks .calculator-outputs {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 26px;
  position: relative;
}
@media screen and (max-width: 1089px) {
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu {
    margin: 26px 26px 90px 26px;
  }
}
.calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #646569;
}
.calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .subtab-menu-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .subtab-menu-charts span {
  padding: 4.5px 12px;
  margin: 0 12px;
  white-space: nowrap;
}
.calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .subtab-menu-charts span:hover {
  cursor: pointer;
  font-weight: 500;
  border-radius: 50px;
  background: #EBF3FF;
}
.calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .subtab-menu-charts span:active {
  cursor: pointer;
  font-weight: 500;
  border-radius: 50px;
  background: #FFF3D3;
}
@media screen and (max-width: 920px) {
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .subtab-menu-charts {
    display: none;
  }
}
.calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown {
  display: none;
}
@media screen and (max-width: 920px) {
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown {
    display: flex;
  }
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item a {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #646569;
    text-decoration: none;
    padding: 4.5px 12px;
    margin: 0 12px;
    white-space: nowrap;
    cursor: pointer;
  }
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item a:active {
    font-weight: 500;
    border-radius: 50px;
    background: #FFF3D3;
  }
}
@media screen and (max-width: 920px) and (max-width: 430px) {
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item a {
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 920px) {
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item svg {
    margin-left: 10px;
  }
}
@media screen and (max-width: 920px) {
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item .fade-enter-active,
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item .fade-leave-active {
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 920px) {
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item .fade-enter,
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item .fade-leave-to {
    opacity: 0;
  }
}
@media screen and (max-width: 920px) {
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item .sub-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: calc(100% + 4.5px);
    left: 0;
    width: max-content;
    height: max-content;
  }
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item .sub-menu .menu-item {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    margin-top: 3px;
    border-bottom: solid 1px #D2D2D2;
    cursor: pointer;
  }
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item .sub-menu .menu-item:last-child {
    border-bottom: none;
  }
  .calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .charts-dropdown .menu-item .sub-menu .menu-item a {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #646569;
  }
}
.calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .subtab-menu-share span {
  color: #49494D;
  padding: 4px 20px;
  background: #F1F1F1;
  border-radius: 50px;
}
.calculator-wrapper .calculator-blocks .calculator-outputs .subtab-menu .subtab-menu-share span:hover {
  cursor: pointer;
}
.calculator-wrapper .calculator-blocks .calculator-outputs .output-charts-container {
  height: 100%;
  width: 100%;
}
.calculator-wrapper .calculator-blocks .calculator-outputs .output-charts-container .chart-container {
  padding: 0 30px 30px 30px;
}
.calculator-wrapper .calculator-blocks .calculator-outputs .output-charts-container .chart-container .chart-container-main {
  display: inline-block;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 1254px) {
  .calculator-wrapper .calculator-blocks {
    flex-direction: column;
  }
}
.partners-wrapper {
  padding: 0 35px 20px 35px;
}
.partners-wrapper .partners-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  padding-top: 20px;
  margin: auto;
}
.partners-wrapper .partners-block .brittish-embassy {
  margin-right: 125px;
}
.partners-wrapper .partners-block .brittish-embassy img {
  height: 120px;
  width: 152.43px;
}
@media screen and (max-width: 580px) {
  .partners-wrapper .partners-block .brittish-embassy {
    margin-right: 0;
    padding-bottom: 60px;
  }
}
.partners-wrapper .partners-block .rtg > img {
  height: 50px;
  width: 221.13px;
}
@media screen and (max-width: 580px) {
  .partners-wrapper .partners-block {
    flex-direction: column;
  }
}
.how-to-use-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.how-to-use-wrapper .how-to-use-block--margin {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1210px;
  margin: 0 35px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-tab-container {
  position: relative;
  padding: 30px 0 0 30px;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-tab-container .modal-close-icon {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 36px;
  border: solid 1px #C7DDFD;
  border-radius: 4px;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-tab-container .modal-close-icon:hover {
  cursor: pointer;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-tab-container .modal-close-icon span {
  content: url(/assets/icons/IconModalClose.svg);
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-tab-container a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #49494D;
  text-decoration: none;
  background: #F1F1F1;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 4px 4px 0 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 45px;
  width: 125px;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-content-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  border-top: solid 1px #F1F1F1;
  margin: 0 30px 30px 30px;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-content-container .how-to-use-img-container {
  height: 100%;
  min-height: 400px;
  margin-top: 30px;
  width: 40%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-content-container .how-to-use-text-container {
  display: block;
  height: 100%;
  min-height: 400px;
  margin: 30px 0 0 20px;
  width: 60%;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-content-container .how-to-use-text-container h2, .how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-content-container .how-to-use-text-container p {
  font-family: "Rubik";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #646569;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-content-container .how-to-use-text-container h2 {
  font-weight: 600;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block .how-to-use-content-container .how-to-use-text-container p {
  font-weight: 400;
  text-align: justify;
}
.how-to-use-wrapper .how-to-use-block--margin .how-to-use-block.block-hidden {
  display: none;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.about-wrapper .about-block--margin {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
}
.about-wrapper .about-block--margin .about-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-height: 500px;
  max-width: 1210px;
  margin: 0 35px;
  padding-top: 35px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.about-wrapper .about-block--margin .about-block__text-content {
  padding: 0 35px;
  text-align: center;
}
.about-wrapper .about-block--margin .about-block__text-content h2, .about-wrapper .about-block--margin .about-block__text-content p {
  font-family: "Rubik";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #646569;
}
.about-wrapper .about-block--margin .about-block__text-content h2 {
  font-weight: 600;
}
.about-wrapper .about-block--margin .about-block__text-content p {
  font-weight: 400;
}
.about-wrapper .about-block--margin .about-block .modal-close-icon {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 36px;
  border: solid 1px #C7DDFD;
  border-radius: 4px;
}
.about-wrapper .about-block--margin .about-block .modal-close-icon:hover {
  cursor: pointer;
}
.about-wrapper .about-block--margin .about-block .modal-close-icon span {
  content: url(/assets/icons/IconModalClose.svg);
}
.footer-wrapper {
  background: #8E8F90;
  flex-shrink: 0;
  padding: 50px 55px 18.5px 55px;
}
@media screen and (max-width: 470px) {
  .footer-wrapper {
    padding-left: 20.5px;
    padding-right: 20.5px;
  }
}
.footer-wrapper .footer-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}
.footer-wrapper .footer-blocks .footer-block {
  display: flex;
  width: 100%;
}
.footer-wrapper .footer-blocks .footer-block__upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 51.5px;
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container {
  width: 100%;
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-list {
  display: flex;
  flex: 1;
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-list .footer-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-list .footer-list-container .footer-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  margin: auto;
  column-gap: 85px;
  width: fit-content;
  padding-right: 20px;
  list-style: none;
  white-space: nowrap;
}
@media screen and (max-width: 800px) {
  .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-list .footer-list-container .footer-list {
    column-gap: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 730px) {
  .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-list .footer-list-container .footer-list {
    column-gap: 85px;
    width: 100%;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 400px) {
  .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-list .footer-list-container .footer-list {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-list .footer-list-container .footer-list .menu-item {
  margin-bottom: 10px;
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-list .footer-list-container .footer-list .menu-item a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts {
  display: flex;
  flex: 1;
  height: 100%;
  border-left: solid 1px #D9D9D9;
}
@media screen and (max-width: 1015px) {
  .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts {
    justify-content: center;
    padding-left: 20px;
  }
}
@media screen and (max-width: 730px) {
  .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts {
    border-left: none;
    padding-left: 0;
    justify-content: left;
  }
}
@media screen and (max-width: 470px) {
  .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts {
    justify-content: left;
  }
}
@media screen and (max-width: 400px) {
  .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts {
    justify-content: left;
  }
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container {
  display: flex;
  flex-direction: column;
  padding-left: 127px;
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container h2, .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container p, .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container a {
  font-family: "Rubik";
  font-style: normal;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  white-space: nowrap;
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container h2 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding-bottom: 37px;
}
@media screen and (max-width: 730px) {
  .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container h2 {
    padding-bottom: 35px;
  }
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container p, .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container a {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  text-decoration: none;
}
@media screen and (max-width: 373px) {
  .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container p {
    white-space: normal;
  }
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container .footer-contacts-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 8px;
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container .footer-contacts-list span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container .footer-contacts-list p, .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container .footer-contacts-list a {
  padding-left: 16px;
  margin-bottom: 0;
}
@media screen and (max-width: 1015px) {
  .footer-wrapper .footer-blocks .footer-block__upper .flex-container__footer-contacts .footer-contacts-container {
    padding-left: 0;
  }
}
@media screen and (max-width: 730px) {
  .footer-wrapper .footer-blocks .footer-block__upper {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
  }
}
.footer-wrapper .footer-blocks .footer-block__lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  border-top: solid 1px #D9D9D9;
}
@media screen and (max-width: 730px) {
  .footer-wrapper .footer-blocks .footer-block__lower {
    justify-content: left;
  }
}
.footer-wrapper .footer-blocks .footer-block__lower p {
  padding-left: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin: 0;
}
.modal-how-to-use-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block {
  display: flex;
  flex-direction: column;
  max-width: 1210px;
  margin: 0 35px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-tab-container {
  position: relative;
  padding: 30px 0 0 30px;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-tab-container .modal-close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 36px;
  border: solid 1px #C7DDFD;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-tab-container .modal-close-icon:hover {
  cursor: pointer;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-tab-container .modal-close-icon span {
  content: url(/assets/icons/IconModalClose.svg);
  height: 19px;
  width: 11px;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-tab-container nav {
  padding-right: 55px;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-tab-container nav a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #49494D;
  text-decoration: none;
  background: #F1F1F1;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 4px 4px 0 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 45px;
  width: 125px;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-content-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  border-top: solid 1px #F1F1F1;
  margin: 0 30px 30px 30px;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-content-container .how-to-use-img-container {
  height: 100%;
  min-height: 400px;
  margin-top: 30px;
  width: 40%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-content-container .how-to-use-text-container {
  display: block;
  height: 100%;
  margin: 30px 0 0 20px;
  width: 60%;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-content-container .how-to-use-text-container h2, .modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-content-container .how-to-use-text-container p {
  font-family: "Rubik";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #646569;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-content-container .how-to-use-text-container h2 {
  font-weight: 600;
}
.modal-how-to-use-mask .modal-how-to-use-wrapper .modal-how-to-use-block .how-to-use-content-container .how-to-use-text-container p {
  font-weight: 400;
  text-align: justify;
}
.modal-about-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal-about-mask .modal-about-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-about-mask .modal-about-wrapper .modal-about-block {
  display: flex;
  flex-direction: column;
  max-width: 1210px;
  margin: 0 35px;
  padding-top: 35px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.modal-about-mask .modal-about-wrapper .modal-about-block .modal-close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 36px;
  border: solid 1px #C7DDFD;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.modal-about-mask .modal-about-wrapper .modal-about-block .modal-close-icon:hover {
  cursor: pointer;
}
.modal-about-mask .modal-about-wrapper .modal-about-block .modal-close-icon span {
  content: url(/assets/icons/IconModalClose.svg);
  height: 19px;
  width: 11px;
}
.modal-about-mask .modal-about-wrapper .modal-about-block__text-content {
  padding: 0 35px;
  text-align: center;
}
.modal-about-mask .modal-about-wrapper .modal-about-block__text-content h2, .modal-about-mask .modal-about-wrapper .modal-about-block__text-content p {
  font-family: "Rubik";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #646569;
}
.modal-about-mask .modal-about-wrapper .modal-about-block__text-content h2 {
  font-weight: 600;
}
.modal-about-mask .modal-about-wrapper .modal-about-block__text-content p {
  font-weight: 400;
}
.button-close-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-close-container .modal-close-icon {
  content: url(/assets/icons/Close.svg);
  height: 19px;
  width: 19px;
}
.button-close-container:hover {
  cursor: pointer;
}
.button-info-container .info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
}
.button-info-container .info-button:hover {
  cursor: pointer;
}
.button-info-container .info-button span {
  border: solid 2px #C7DDFD;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
}
.button-info-container .info-button span:hover {
  background-color: #C7DDFD;
}
.button-container .button {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
}
.button-container .button__reset {
  background: #DEA613;
}
.button-container .button__reset:active {
  background: #FFC627;
}
.button-container .button__results {
  background: #829A59;
}
.button-container .button__results:active {
  background: #B5CC8D;
}
.button-container .button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.scenario-dropdown {
  display: flex;
  padding-left: 10px;
}
.scenario-dropdown .menu-item {
  width: 202px;
  box-sizing: border-box;
  padding-left: 19px;
}
.scenario-dropdown .menu-item a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #646569;
  text-decoration: none;
}
.scenario-dropdown .menu-item svg {
  margin-left: 10px;
}
.scenario-dropdown .menu-item .fade-enter-active,
.scenario-dropdown .menu-item .fade-leave-active {
  transition: all 0.5s ease-in-out;
}
.scenario-dropdown .menu-item .fade-enter,
.scenario-dropdown .menu-item .fade-leave-to {
  opacity: 0;
}
.scenario-dropdown .menu-item .sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #FFFFFF;
  top: calc(100% - 4px);
  left: 0;
  width: 211px;
  height: max-content;
  border-radius: 0 0 4px 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  padding: 6px 11.5px 11.5px 11.5px;
  box-sizing: border-box;
}
.scenario-dropdown .menu-item .sub-menu .menu-item {
  background: #F1F1F1;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.scenario-dropdown .menu-item .sub-menu .menu-item:hover {
  cursor: pointer;
}
.scenario-dropdown .menu-item .sub-menu .menu-item a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #646569;
}
.scenario-dropdown .menu-item .sub-menu .menu-item a:hover {
  color: #67B2E8;
}
.levers-sector-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.levers-sector-container:first-child .levers-sector {
  padding-top: 8px;
}
.levers-sector-container .levers-sector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 28px 8px 10px;
}
.levers-sector-container .levers-sector .card {
  height: 70px;
  width: 202px;
  border: solid 1px #F1F1F1;
  border-radius: 4px;
  background: #F1F1F1;
  box-sizing: border-box;
  margin-right: 8px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.levers-sector-container .levers-sector .card:hover {
  cursor: pointer;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.levers-sector-container .levers-sector .card.active {
  height: 35px;
  box-shadow: none;
  background: #F1F1F1;
  border: 1px solid #F1F1F1;
}
.levers-sector-container .levers-sector .card.active .sector-name {
  white-space: nowrap;
}
.levers-sector-container .levers-sector .card.active .sector-logo img {
  height: 24px;
}
.levers-sector-container .levers-sector .card.active:hover {
  cursor: pointer;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.levers-sector-container .levers-sector .card .sector-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #49494D;
  text-transform: uppercase;
}
.levers-sector-container .levers-subsector-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 7px 29px 12px 11px;
  box-sizing: border-box;
}
.levers-sector-container .levers-subsector-container .levers-subsectors {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.levers-sector-container .levers-subsector-container .levers-subsectors .subsector-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
  align-items: center;
}
.levers-sector-container .levers-subsectors {
  display: flex;
}
.levers-sector-container .levers-subsectors .subsector-container {
  display: flex;
  flex-direction: row;
}
.levers-sector-container .levers-subsectors .subsector-container .subsector-name {
  display: flex;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: #49494D;
  border-bottom: solid 1px #F1F1F1;
  height: 100%;
  width: 100%;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
.levers-sector-container .levers-subsectors .subsector-container .subsector-name:hover {
  color: #67B2E8;
}
.levers-sector-container .levers-subsectors .subsector-container:last-child .subsector-name {
  border-bottom: none;
}
.lever-steps-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 4px;
}
.lever-steps-container .lever-step {
  height: 35px;
  width: 35px;
  background: #D9D9D9;
  transition: all300ms ease;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lever-steps-container .lever-step:hover {
  cursor: pointer;
  background-color: #8E8F90;
}
.lever-steps-container .lever-step.active {
  background-color: #949D85;
}
.lever-steps-container.subsectors .lever-step {
  height: 25px;
  width: 25px;
}
.lever-steps-container.subsectors .lever-step.active {
  background-color: #949D85;
}
.modal-calculator-inputs-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block {
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 1210px;
  margin: 0 auto;
  padding: 22.5px 30.5px 27.5px 30.5px;
  background: #F1F1F1;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .inputs-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 12px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .inputs-navigation .button-close-container {
  flex: 2;
  height: 100%;
  justify-content: right;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .inputs-navigation .button-close-container .modal-close-icon {
  padding: 20.5px;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 17px;
  box-sizing: border-box;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-header .levers-column__sectors, .modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-header .levers-column__steps {
  display: flex;
  flex-direction: row;
  flex: 2;
  align-items: center;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-header .levers-column__sectors p, .modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-header .levers-column__steps p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #646569;
  padding-left: 4px;
  margin: 17.5px 0;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-header .levers-column__steps {
  padding-left: 18px;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-table {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  min-height: 504px;
  max-height: 504px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-table .levers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 22px 16px 22px 2px;
  margin: 0 17px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-table .levers .levers-sector-container .levers-sector {
  padding: 0 0 8px 0;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-table .levers .levers-sector-container .levers-sector .card {
  height: 35px;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-table .levers .levers-sector-container .levers-sector .card .sector-logo img {
  height: 24px;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-table .levers .levers-sector-container .levers-sector .card .sector-name {
  font-size: 12px;
  line-height: 14px;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-table .levers .levers-sector-container .levers-subsector-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: 355.5px;
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-table .levers .levers-sector-container .levers-subsector-container .levers-subsectors .subsector-container .subsector-name {
  white-space: normal;
}
@media screen and (max-width: 520px) {
  .modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .levers-container .levers-table {
    padding: 8px;
  }
}
.modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block .action-buttons-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 12.5px 12px 12.5px;
  box-sizing: border-box;
}
@media screen and (max-width: 520px) {
  .modal-calculator-inputs-mask .modal-calculator-inputs-wrapper .modal-calculator-inputs-block {
    padding: 8px;
  }
}
.modal-sections-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal-sections-mask .modal-sections-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-sections-mask .modal-sections-wrapper .modal-sections-block {
  display: flex;
  flex-direction: column;
  max-width: 1210px;
  margin: 0 35px;
  padding: 35px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.modal-sections-mask .modal-sections-wrapper .modal-sections-block .button-close-container {
  justify-content: right;
}
.modal-sections-mask .modal-sections-wrapper .modal-sections-block .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal-sections-mask .modal-sections-wrapper .modal-sections-block .modal-content__img-container {
  display: flex;
  flex: 1;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.modal-sections-mask .modal-sections-wrapper .modal-sections-block .modal-content__img-container img {
  max-width: 100%;
  max-height: 100%;
}
.modal-sections-mask .modal-sections-wrapper .modal-sections-block .modal-content__text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  margin: 30px 0 0 20px;
}
.modal-sections-mask .modal-sections-wrapper .modal-sections-block .modal-content__text-container h2, .modal-sections-mask .modal-sections-wrapper .modal-sections-block .modal-content__text-container p {
  font-family: "Rubik";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #646569;
}
.modal-sections-mask .modal-sections-wrapper .modal-sections-block .modal-content__text-container h2 {
  font-weight: 600;
}
.modal-sections-mask .modal-sections-wrapper .modal-sections-block .modal-content__text-container p {
  font-weight: 400;
}
.modal-steps-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal-steps-mask .modal-steps-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-steps-mask .modal-steps-wrapper .modal-steps-block {
  display: flex;
  flex-direction: column;
  max-width: 1210px;
  margin: 0 35px;
  padding: 35px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.modal-steps-mask .modal-steps-wrapper .modal-steps-block .button-close-container {
  justify-content: right;
}
.modal-steps-mask .modal-steps-wrapper .modal-steps-block .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal-steps-mask .modal-steps-wrapper .modal-steps-block .modal-content__img-container {
  display: flex;
  flex: 1;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.modal-steps-mask .modal-steps-wrapper .modal-steps-block .modal-content__img-container img {
  max-width: 100%;
  max-height: 100%;
}
.modal-steps-mask .modal-steps-wrapper .modal-steps-block .modal-content__text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  margin: 30px 0 0 20px;
}
.modal-steps-mask .modal-steps-wrapper .modal-steps-block .modal-content__text-container h2, .modal-steps-mask .modal-steps-wrapper .modal-steps-block .modal-content__text-container p {
  font-family: "Rubik";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #646569;
}
.modal-steps-mask .modal-steps-wrapper .modal-steps-block .modal-content__text-container h2 {
  font-weight: 600;
}
.modal-steps-mask .modal-steps-wrapper .modal-steps-block .modal-content__text-container p {
  font-weight: 400;
}
body {
  background: #F1F1F1;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  position: relative;
}