#cost_caveats
  We would like your help to develop this tool. Please 
  = link_to "click here",'http://2050-calculator-tool-wiki.decc.gov.uk'
  to find out more about our methodology and suggest improvements.

  Before viewing the cost implications of your choices, please note that:

  %ol
    %li  
      The Calculator expresses pathway costs as ‘average pounds per person per year’. This is not the same as your energy bill. It is the cost of everything the UK buys that makes, converts, saves or uses energy: from kettles and insulation foam to trains and power stations. You can choose to see the results in different units when using the 
      =link_to 'excel version of the Calculator.',"http://www.decc.gov.uk/2050"
    %li The Calculator does not choose any options automatically, regardless of their cost. 
    %li 
      The Calculator uses forecasts from credible sources of how technology and fuel costs might rise or fall over time. You vary these forecasts using the 
      = link_to_function 'cost sensitivity', "twentyfifty.switchView('costs_sensitivity')"
      implication from the menu on the top left. The full set of data points is available on the 
      = link_to 'wiki.','http://2050-calculator-tool-wiki.decc.gov.uk'
    %li The cost of not tackling climate change is not included in the Calculator. The Stern review estimated that failing to tackle climate change could reduce global GDP by up to 20%. This is the equivalent of up to £6,500 per person per year on average, on top of the cost of the energy system.
    %li Some other important effects have been excluded from the Calculator. The costs of travelling less or with different modes of transport, having colder homes or fewer goods, and changing the appearance of our houses or landscape are not included. Nor are profits, taxes, subsidies or economies of scale driven by pathway choices. The Calculator includes only the physical costs of constructing, operating and fuelling equipment.
    %li Costs are just one feature for comparing 2050 pathways. The Calculator provides information on other impacts, as well as some illustrative pathways to compare your choices with.

  #understand
    = link_to_function 'Click to continue using the calculator', "$.jStorage.set('CostCaveatShown',true);$('#cost_caveats').hide()"

