#essentialnotes
  Note: The cost of failing to tackle climate change are not included. Some pathways, including the 'All at Level 1' pathway shown here, fail to tackle climate change. The Stern review estimated that failing to tackle climate change could reduce global GDP by up to 20% (equivalent to up to £6500 per person per year on top of the cost of the energy system included in the chart above). Nor are the costs of travelling less, being colder, or consuming less included. 
  = link_to_function 'Show the caveats again', "$.jStorage.deleteKey('CostCaveatShown');$('#cost_caveats').show()"
