#homepagemenu
  %ul
    %li#quickpicks.menuitem Quick Picks
    %li#examplepathways.menuitem.dropdown
      = render 'layouts/example_solutions'
    %li#expertsolutions.menuitem.last.dropdown
      = render 'layouts/expert_solutions'
      
