%script{ :type => 'text/javascript' }
  twentyfifty.setup(twentyfifty.CostsInContext)

#results.costsincontext
  %h1
    The cost of your energy system, compared with the UK economy. 
    This is not your energy bill.
  #costsincontext
    
= render 'classic_controls'