= render 'tabbed_menu'
= render 'layouts/costs_submenu'
%script{ :type => 'text/javascript' }
  $('#menu_costs_in_context').addClass('active')
  $('#submenu_costs_compared_overview').addClass('active')
  twentyfifty.setup(twentyfifty.CostsComparedOverview)

#costscomparedoverviewpage
  .clear.explainchart
    This chart shows a breakdown of your cost pathway compared to other example solutions.
  #experts-vs-charts
    #experts
      %ul
        %li
          %img{ :src => '/assets/people/YouPathway.png' }
          %span.mid Your Pathway
        %li
          %img{ :src => '/assets/people/DustinBenton.jpg' }
          %span.mid Dustin Benton: Green Alliance: High renewables and high demand reduction.
        %li
          %img{ :src => '/assets/people/KeithClarke.jpg' }
          %span.mid Keith Clarke: High electrification of transport, homes and industry.
        %li
          %img{ :src => '/assets/people/DuncanRimmer.jpg' }
          %span.mid Duncan Rimmer: National Grid: Mix of CCS, Nuclean, Renewables and all cars electrified.
        %li
          %img{ :src => '/assets/people/DavidClarke.jpg' }
          %span.mid David Clarke: ETI: Mix of CCS, Nuclear and renewables.
        %li
          %img{ :src => '/assets/people/MikeChilds.jpg' }
          %span.mid Friends of the Earth: Demand highly curtailed and very high Renewables.
        %li
          %img{ :src => '/assets/people/AllLevel1.png' }
          %span.mid All at Level 1 (does not hit CO<sub>2</sub> target.)
    #costscomparedoverview