= render 'tabbed_menu'
= render 'layouts/costs_submenu'
%script{ :type => 'text/javascript' }
  $('#menu_costs_in_context').addClass('active')
  $('#submenu_costs_within_sector').addClass('active')
  twentyfifty.setup(twentyfifty.CostsWithinSector)

#results
  .explainchart
    This graph breaks down the costs within the selected sector of your pathway.
  %h1#sectorname
  #costswithinsector

= render 'cost_report'