= render 'tabbed_menu'
= render 'layouts/costs_submenu'
%script{ :type => 'text/javascript' }
  $('#menu_costs_in_context').addClass('active')
  $('#submenu_costs_across_sectors').addClass('active')
  twentyfifty.setup(twentyfifty.CostsAcrossSectors)

#results
  .explainchart
    This graph shows a breakdown of your cost by sector compared to other example solutions.
  #costsacrosssectors
    

= render 'energy_key'
= render 'cost_report'
