= render 'tabbed_menu'
%script{ :type => 'text/javascript' }
  $('#menu_costs_compared_detail').addClass('active')
  twentyfifty.setup(twentyfifty.CostsComparedDetail)

#results
  #costscompareddetail
    #totals
    #components
    