%script{ :type => 'text/javascript' }
  twentyfifty.setup(twentyfifty.CostsInContext)

#results.costsincontext
  %h1
    The cost to society of your pathway. 
    This is not your energy bill.
  = render 'cost_caveats'
  
  #costsincontext
  
  = render 'essential_notes'
    
= render 'classic_controls'