%script{ :type => 'text/javascript' }
  twentyfifty.setup(twentyfifty.Dashboard2)
#container
  %h1#pageheading 2050 Pathway Calculator
  #subheading Use the Energy controls to get emissions below the 2050 target whilst balancing supply and demand. Use the quick picks menu to try things out fast.
  = render 'homepage_menu'
  #main
    #visuals
      #costsvisual
        #emissionsheading EMISSIONS METER
        / Visualisation of the costs bars
        #emissionsovertimebar.costbar
          #emissionscurrent 
            Reduction: 
            %span#emissionscurrentpercent 0&#037;
          #emissionsbar
            .bar
          #emissionspast &lt;&lt; 1990 Baseline
      #supply_demand
        #supplycontainer
          #supplylegend.legend YOUR ENERGY SUPPLY
          #supplygrid.grid
            / supply grid
          .current
          .current_text_left Current Supply
        #middle
          #middlelegend.legend YOUR ENERGY FLOW
          #connection
            .overlayleft
            .overlayright
            #connections
            / Place for the connection drawing
        #demandcontainer
          #demandlegend.legend YOUR ENERGY DEMAND
          #demandgrid.grid
            /#demandgrid.grid_overlay
            / Put your grid in here
          .current
          .current_text_right Current Demand
      /#costmessage
      #implications
        /
          Basically a graphic to pop out the
          implications window
        %a#iframe{:href => '#'} See Implications
      #calculating 
        #calcmessage 
          Calculating
          %br/
          %img{:src => '/assets/spinner3-black.gif', :alt => 'Loading image'}
  .clear
  #controls
    = render 'classic_controls'
    .clear
    / Top Level controls for changing the pathway.
  #footer

:javascript
  $(function(){
    $('body').addClass('dashboard');
    function openFancyBox() {
      $.fancybox({
        'href' : twentyfifty.popup_url(),
        'type': 'iframe',
        'hideOnContentClick' : false,
        'hideOnOverlayClick' : false,
        'width' : 900,
        'height' : 672,
        'margin': 10,
        'padding': 0,
        'overlayColor':'#000000',
        'overlayOpacity':'0.8',
        'onComplete':function(){
          $('#fancybox-content').css({'width':'900px',height:'672px'});
          $('#fancybox-iframe').attr({'width':'900','height':'672'});
        }
      });
    }
    $("a#iframe").bind('click',openFancyBox);
  });
