%script{ :type => 'text/javascript' }
  twentyfifty.setup(twentyfifty.Dashboard2)
#container
  %h1#pageheading DECC 2050 Calculator
  #subheading Use the Energy controls to get emissions below the 2050 target whilst balancing supply and demand, and keeping an eye on cost. Use the quick start menu to try things out fast.
  = render 'homepage_menu'
  #main
    #visuals
      #supply_demand
        #supplygrid.grid
          / supply grid
        #middle
          #costmessage
          #connection
            / Place for the connection drawing
          #implications
            /
              Basically a graphic to pop out the
              implications window
            %a#iframe{:href => '#'} Implications
        #demandgrid.grid
          / Put your grid in here
      #costsvisual
        #emissionsheading Emissions Meter
        / Visualisation of the costs bars
        #emissionsovertimebar.costbar
          #emissionscurrent Currently 50&#037;
          #emissionspast &lt;&lt; 1990 levels
      #calculating 
        #calcmessage Calculating
    
    .clear
    #controls
      = render 'classic_controls'
      .clear
      / Top Level controls for changing the pathway.
    #footer

:javascript
  $(document).ready(function(){
    function openFancyBox() {
      $.fancybox({
        'href' : twentyfifty.popup_url(),
        'type': 'iframe',
        'hideOnContentClick' : false,
        'width' : '90%',
        'height' : '90%',
        'padding': 0,
        'overlayColor':'#000000',
        'overlayOpacity':'0.8'
      })
    }
    
    $("a#iframe").bind('click',openFancyBox);
    
  })
