%script{ :type => 'text/javascript' }
  twentyfifty.setup(twentyfifty.Dashboard2)
#container
  %h1#pageheading DECC 2050 Calculator
  #main
    #visuals
      #supply_demand
        #supply.grid
          / supply grid
        #middle
          #connection
            / Place for the connection drawing
          #implications
            /
              Basically a graphic to pop out the
              implications window
            %a#iframe{:href => '#'} Implications
        #demand.grid
          / Put your grid in here
      #costsvisual
        / Visualisation of the costs bars
        #costsovertimebar.costbar
        #emissionsovertimebar.costbar
      #calculating 
        #calcmessage Calculating
    #quickstartmenu
      / Quick start links menu
      .title Quick start menu
      #shortcutsmenu.link
        Short Cuts
      #startersmenu.link
        Simple Starters
      #expertsmenu.link
        Expert Pathways
      .clear
    #controls
      = render 'classic_controls'
      .clear
      / Top Level controls for changing the pathway.
    #footer

:javascript
  $(document).ready(function(){
    function openFancyBox() {
      $.fancybox({
        'href' : twentyfifty.popup_url(),
        'type': 'iframe',
        'hideOnContentClick' : false,
        'width' : '90%',
        'height' : '90%',
        'padding': 0,
        'overlayColor':'#000000',
        'overlayOpacity':'0.8'
      })
    }
    
    $("a#iframe").bind('click',openFancyBox);
    
  })
