%script{ :type => 'text/javascript' }
  twentyfifty.setup(twentyfifty.EnergySecurity)

#results.energysecurity
  #energysecurity
    #balancing
    #imports
    #diversity
    
= render 'classic_controls'