= render 'tabbed_menu'

%script{ :type => 'text/javascript' }
  $('#menu_primary_energy_chart').addClass('active')
  twentyfifty.setup(twentyfifty.PrimaryEnergy)

#results
  .chart#demand_chart
  .chart#supply_chart  
  .chart#emissions_chart
