:javascript
  twentyfifty.setup(twentyfifty.Share)

#results
  #share
    %p 
      If you want to save or share your pathway, just use this url: 
      %a{:id => 'url'}
    %form
      %input
    %p On modern browsers, this url is the same as the one you will see in the address bar as you use the calculator. On older browsers, such as Internet Explorer 6 and 7, it will not be.
    .clear
