%script{ :type => 'text/javascript' }
  twentyfifty.setup(twentyfifty.helloworld)
%h1 Hello World
#results
= link_to_function "1", "twentyfifty.go(0,1)"
= link_to_function "2", "twentyfifty.go(0,2)"
= link_to_function "3", "twentyfifty.go(0,3)"
= link_to_function "4", "twentyfifty.go(0,4)"