:javascript
  twentyfifty.longDescriptions = #{raw ModelStructure.instance.long_descriptions.to_json};
  twentyfifty.setup(twentyfifty.Story)

#results
  #stories
    #demand_story.story
    #supply_story.story
    #ghg_story.story

= render 'classic_controls'
