= render 'tabbed_menu'
#submenu

%script{ :type => 'text/javascript' }
  $('#menu_story').addClass('active')
  twentyfifty.setup(twentyfifty.Electricity)

#stories
  #demand_story.story Not Yet Implemented
  #supply_story.story Not Yet Implemented
  #ghg_story.story Not Yet Implemented
.clear