#experts-vs-charts {
    text-align: left;
}
#experts-vs-charts {
    position:relative;
    top:0; left:0;
}
#experts-vs-charts #experts {
    position:absolute;
    top:20px;
    left:10px;
    width:370px;
    height:430px;
    background:#ebebeb;
    line-height:15px;
    font-size:15px;
}
#experts-vs-charts #costscomparedoverview {
    position:absolute;
    top:0px;
    left:390px;
    width:500px;
    height:450px;
}
#experts-vs-charts #experts ul {
    margin:24px 5px 5px 5px;
}
#experts-vs-charts #experts ul li {
    list-style:none;
    margin-top:1px;
    margin-bottom:3px;
    height:53px;
    border-bottom: 1px #939393 dashed;
}
#experts-vs-charts #experts ul li.last {
    border-bottom: none;
}
#experts-vs-charts #experts ul li img {
    float:left;
    margin:0 10px 0 10px;
    width:50px;
    height:50px;
}
#experts-vs-charts #experts ul li span.mid {
    vertical-align:middle;
}