#costsincontext {
    margin: 0;
    padding: 0;
    width: 885px;
    height: 480px;
    position:relative;
    top:0;
    left:0;
}
#bringbackexplanatory {
    font-size:13px;
    color:#3c3c3c;
}
#variationkey {
    position:absolute;
    bottom:10px;
    left:20px;
}
#explanatory-popup {
    position:absolute;
    top:100px;
    left:100px;
    width:700px;
    height:500px;
    background:#999999;
    display: none;
    text-align:left;
}
#explanatory-popup h2 {
    font-size:20px;
    font-weight:bold;
}
#explanatory-popup ol {
    margin:0 0 0 2.5em;
}
#explanatory-popup li, #explanatory-popup h2 {
    margin:10px 0;
    padding:0 10px;
}
#explanatory-popup a#removeexplanatory {
    position:absolute;
    text-align:center;
    width:100%;
    left:0px;
    bottom:20px;
}