html, body {
    padding: 0;
    margin: 0 auto 0;
    text-align: center;
    background: transparent;
}
/* Do a little bit of normalistation */
h1, h2, h3, h4, h5, h6, p, div, ol, ul, li, dl, dd, dt, span {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}
body {
    background: #f0f0f0;
}
#pageheading {
    margin:0;
    padding: 0.5em;
    padding-left: 0;
    padding-bottom: 0;
    text-align: left;
    color: #353535;
}
#subheading {
    font-size: 0.8em;
    color: #898989;
}
#homepagemenu {
    width: 100%;
    border-top: 1px dotted #afafaf;
    border-bottom: 1px dotted #000000;
    height: 30px;
    overflow: hidden;
}
#homepagemenu ul li {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 24%;
    border-right: 1px dotted #afafaf;
}
#homepagemenu ul li.last {
    display: block;
    float: left;
    width: 24%;
    border-right: none;
}
#container {
    margin: 0 auto 0;
    text-align: left;
    width: 960px;
    position: relative;
}
#main {
    padding: 1em;
    padding-top: 0;
    position: relative;
    border: none;
    clear:both;
}
#visuals {
    height: 330px;
    float: left;
    width: 100%;
    position: relative;
}
#supply_demand {
    padding-top: 12px;
    float: left;
}
.grid {
    width: 288px;
    height: 224px;
    border: 5px solid #ffffff;
    overflow: hidden;
    position: relative;
    background: #ffffff;
}
#supplycontainer {
    position: absolute;
    left: 0;
    width: 298px;
    text-align: center;
}
#supplygrid {
}
#demandcontainer {
    position: absolute;
    right: 0;
    width: 298px;
    text-align: center;
}
#demandgrid {
}
#visuals .legend {
    color: #505050;
    height: 20px;
    font-size: 0.8em;
    width: 100%;
}
#middle {
    left: 299px;
    position: absolute;
    width: 331px;
    text-align: center;
}
#connection {
    float: left;
    width: 100%;
    height: 140px;
    margin-top: 10px;
    position: relative;
} 
#connection .connector {
    /* Individual connectors in the #connection */
    width: 100%;
    margin-bottom: 3px;
}
#implications {
    float: left;
    height: 30px;
    width: 100px;
    border: 1px solid #000000;
    margin-top: 1em;
    margin-left: 115px;
    text-align: center;
}
#costsvisual {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 60px;
}/*
.costbar {
    float: left;
    width: 48px;
    height: 248px;
    border: 1px solid #000000;
    margin-left: 15px;
}
#costsovertimebar {
    background: #ff0000;
} */
#emissionsheading {
    position: absolute;
    top: 0;
    left: 40%;
    text-align: center;
    background: #505050;
    color: #000000;
    width: 200px;
    margin: 0 auto 0;
}
#emissionsovertimebar {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: #a0a0a0;
    border-top: 1px solid #505050;
}
#emissionsovertimebar #emissionscurrent {
    position: absolute;
    left: 0;
    width: 110px;
    height: 30px;
    padding: 10px;
    padding-bottom: 0;
    background: #505050;
}
#emissionsovertimebar #emissionspast {
    position: absolute;
    right: 0;
    width: 110px;
    height: 30px;
    padding: 10px;
    padding-bottom: 0;
    background: #505050;
}
#emissionsovertimebar #emissionstarget {
    position: absolute;
}
/*#quickstartmenu {
    position: relative;
    clear: both;
    width: 100%;
    border: 1px solid #595959;
    text-align: center;
}
#quickstartmenu .link {
    float: left;
    width: 268px;
    margin-left: 29px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #3a3a3a;
}*/
#controls {
    position: relative;
    width: 100%;
    margin-top: 10px;
    background: #ffffff;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px dotted #595959;
    border-bottom: 1px dotted #000000;
}
#footer {
    clear: both;
    padding-bottom: 2em;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid_grid_box {
    float: right;
    height: 16px;
    width: 16px;
}

.grid_item {
    float: right;
    width: 4px;
    height: 4px;
}
.back_none {border-color: #000000;}
.back1 {border-color: #ffaaaa;}
.back2 {border-color: #aaffaa;}
.back3 {border-color: #aaaaff;}
.back4 {border-color: #ffffaa;}
.back5 {border-color: #aaffff;}
.back6 {border-color: #ffaaff;}
.back7 {}

.overflow_warning {
    background: rgb(255,255,255);
    background: rgba(255,255,255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 238px;
    display: none;
}

.overflow_warning div {
    padding: 10px;
    padding-top: 20%;
    color: #bb2222;
    text-align: center;
}

.overflow_warning div a {
    text-decoration: none;
    display: block;
    width: auto;
    margin-top: 2em;
}

#calculating {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.8);
}
#calcmessage {
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
}