html, body {
    padding: 0;
    margin: 0 auto 0;
    text-align: center;
    background: #ffffff;
}
/* Do a little bit of normalistation */
h1, h2, h3, h4, h5, h6, p, div, ol, ul, li, dl, dd, dt, span {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}
body.dashboard {
    background: url('background.jpg') top left repeat-x #e1e1e1;
    font-family: Helvetica, Arial, serif;
}
#pageheading {
    margin:0;
    padding: 0.5em;
    padding-left: 0;
    padding-bottom: 0;
    text-align: left;
    color: #000000;
}
#subheading {
    border-bottom: 1px dotted #000000;
    color: #706f6f;
    font-size: 0.75em;
    padding-bottom: 5px;
    width: 100%;
}
#homepagemenu {
    width: 100%;
    border-top: 1px dotted #afafaf;
    border-bottom: 1px dotted #000000;
    height: 30px;
    overflow: hidden;
    clear: both;
}
#homepagemenu ul li {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 24%;
    border-right: 1px dotted #afafaf;
}
#homepagemenu ul li.last {
    display: block;
    float: left;
    width: 24%;
    border-right: none;
}
#container {
    margin: 0 auto 0;
    text-align: left;
    width: 960px;
    position: relative;
}
#main {
    padding: 1em;
    padding-top: 0.8em;
    position: relative;
    border: none;
    clear:both;
    background: url('header-drop.png') center top no-repeat transparent;
}
#visuals {
    height: 370px;
    float: left;
    width: 100%;
    position: relative;
}
#supply_demand {
    margin-top: 75px;
}
.grid {
    width: 288px;
    height: 224px;
    border: 5px solid #ffffff;
    overflow: hidden;
    position: relative;
    background: #ffffff;
}
.grid_overlay {
    width: 288px;
    height: 224px;
    background: url('grid-overlay.png');
    position: absolute;
    bottom: 5px;
    left: 5px;
}
#supplycontainer {
    position: absolute;
    left: 0;
    width: 298px;
    text-align: center;
}
#supplygrid {
}
#demandcontainer {
    position: absolute;
    right: 0;
    width: 298px;
    text-align: center;
}
#demandgrid {
}
#visuals .legend {
    color: #000000;
    height: 20px;
    font-size: 12px;
    width: 100%;
}
#middle {
    left: 299px;
    position: absolute;
    width: 331px;
    text-align: center;
}
#visuals #middle .legend {
    position: relative;
    top: 15px;
}
#connection {
    float: left;
    width: 100%;
    height: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    position: relative;
}
#connection .overlay {
    position: absolute;
    width: 100%;
    height: 140px;
    top: 0;
    right: 0;
    background: url('vector-overlay.png') top left no-repeat transparent;
}
#connection .connector {
    /* Individual connectors in the #connection */
    width: 100%;
    margin-bottom: 3px;
}
#implications {
    float: left;
    height: 41px;
    width: 100%;
    margin-top: 1em;
    text-align: center;
    margin: 0 auto 0;
}
#implications a {
    position: relative;
    display: inline-block;
    width: 158px;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    height: 31px;
    padding-left: 67px;
    padding-top: 10px;
    margin-top: 30px;
    background: url('implications-button.png') top left no-repeat transparent;
}
#implications a:visited {
    color: #ffffff;
}
#costsvisual {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 60px;
}/*
.costbar {
    float: left;
    width: 48px;
    height: 248px;
    border: 1px solid #000000;
    margin-left: 15px;
}
#costsovertimebar {
    background: #ff0000;
} */
#emissionsheading {
    background: url('emissions-header.jpg') no-repeat 0 0 transparent;
    color: #000000;
    font-size: 0.7em;
    height: 18px;
    left: 40%;
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 1px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 128px;
}
#emissionsovertimebar {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: url('emissions-main.png') repeat-x transparent;
    border-top: 1px solid #aaaaaa;
}
#emissionsovertimebar #emissionscurrent {
    position: absolute;
    left: 0;
    width: 110px;
    height: 30px;
    padding: 10px;
    padding-bottom: 0;
    background: url('emissions-shadow-left.png') no-repeat right center #7d7d7d;
    color: #ffffff;
}
#emissionsovertimebar #emissionspast {
    position: absolute;
    right: 0;
    width: 110px;
    height: 30px;
    padding: 10px;
    padding-bottom: 0;
    background: url('emissions-shadow-right.png') no-repeat left center #7d7d7d;
    color: #ffffff;
}
#emissionsovertimebar #emissionstarget {
    position: absolute;
}
/*#quickstartmenu {
    position: relative;
    clear: both;
    width: 100%;
    border: 1px solid #595959;
    text-align: center;
}
#quickstartmenu .link {
    float: left;
    width: 268px;
    margin-left: 29px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #3a3a3a;
}*/
#controls {
    position: relative;
    width: 100%;
    margin-top: 10px;
    background: #ffffff;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px dotted #595959;
    border-bottom: 1px dotted #000000;
}
#footer {
    clear: both;
    padding-bottom: 2em;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid_grid_box {
    float: right;
    height: 16px;
    width: 16px;
}

.grid_item {
    float: right;
    width: 4px;
    height: 4px;
}
.back_none {border-color: #000000;}
.back1 {border-color: #ffaaaa;}
.back2 {border-color: #aaffaa;}
.back3 {border-color: #aaaaff;}
.back4 {border-color: #ffffaa;}
.back5 {border-color: #aaffff;}
.back6 {border-color: #ffaaff;}
.back7 {}

.overflow_warning {
    background: rgb(255,255,255);
    background: rgba(255,255,255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 238px;
    display: none;
}

.overflow_warning div {
    padding: 10px;
    padding-top: 20%;
    color: #bb2222;
    text-align: center;
}

.overflow_warning div a {
    text-decoration: none;
    display: block;
    width: auto;
    margin-top: 2em;
}

#calculating {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.8);
}
#calcmessage {
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
}
#costmessage {
    position: absolute;
    bottom: 0;
    height: 30px;
    text-align: center;
    width: 100%;
}