#energysecurity > div { 
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.5%;
  font-size:12px;
  width: 30%;
  height: 300px;
  margin-bottom: 30px;
  float: left;
}

.energysecurity {
  td.value, td.description {
    width: 30%;
  }
  td.value, th.value {
    text-align: right;
  }
}
