// Place all the styles related to the pathways controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#calculating {
  position: absolute;
  right: 0;
  top: 0;
  border-left: solid black 1px;
  border-bottom: solid black 1px;
  background-color: yellow;
  padding: 5px;
}

#classic {
  #demand, #supply, #other {
    padding: 0;
    border: 0;
    margin: 0;
    margin-left: 2.5%;
    width: 30%;
    float: left;
  }
  
  table {
    width: 100%;
    td.choice {
      width: 20px;
      a {
       display: block;
       width: 100%;
       text-align: center;
       color: black;
       text-decoration: none;
       border: solid #ccc 1px;
      }
    }
  }
    
}
