.story {
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.5%;
  font-size:12px;
  width: 30%;
  height: 300px;
  margin-bottom: 30px;
  float: left;
  h4 {
    margin-top: 1em;
  }
  th {
    text-align: left    
  }
  td.target, th.target {
    text-align: right
  }  
}
