#tooltip {
  display: none;

  background-color: #d1d1d1;
  color: #000;

  border: 2px solid #000;
  border-radius: 15px 15px 0px 15px;
  -moz-border-radius: 15px 15px 0px 15px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;

  font-size: 12px;

  height: 5em;
  width: 14em;
  padding: 10px;

  z-index: 10000;
}
#tooltipemissions {
  display: none;

  background-color: #d1d1d1;
  color: #000;

  border: 2px solid #000;
  border-radius: 15px 15px 0px 15px;
  -moz-border-radius: 15px 15px 0px 15px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;

  font-size: 14px;

  height: 80px;
  width: 250px;
  padding: 10px;
  margin-top: 80px;
  margin-left: 50px;

  z-index: 10000;
  
  ul {
    padding: 0;
    text-align: left;
  }
  li {
    list-style-type: none;
    text-align: left;
  }
}
#tooltipsmallright {
  display: none;

  background-color: #d1d1d1;
  color: #000;

  border: 2px solid #000;
  border-radius: 15px 15px 0px 15px;
  -moz-border-radius: 15px 15px 0px 15px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;

  font-size: 14px;

  height: 15px;
  width: 150px;
  padding: 10px;
  padding-top: 15px;
  margin-left: 70px;
  z-index: 10000;
}
#tooltipgrid {
  display: none;

  background-color: #d1d1d1;
  color: #000;

  border: 2px solid #000;
  border-radius: 15px 15px 0px 15px;
  -moz-border-radius: 15px 15px 0px 15px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;

  font-size: 14px;

  height: 35px;
  width: 150px;
  padding: 10px;
  padding-top: 15px;
  margin-left: -10px;
  margin-top: -10px;
  z-index: 10000;
}