<nav class="navigation-desktop">
<a href="/" class="page-link-item calculator-page active-tab">Kalkulators</a>
<a href="/ka-lietot" class="page-link-item how-to-use-page">Kā lietot?</a>
<a href="/par-kalkulatoru" class="page-link-item about-project-page">Par projektu</a>
</nav>