= link_to_function raw("Expert Pathways &#9662;"), "$('ul#expertpathway_choices').toggle();$('ul#examplepathway_choices').hide();$('ul#quickpickpathway_choices').hide();"
%ul#expertpathway_choices.choices
  - expert_pathways.each do |name,code|
    %li= link_to_function name, "twentyfifty.switchPathway('#{code}');$('ul#expertpathway_choices').toggle()"