= link_to_function raw("Expert Solutions &#9662;"), "$('ul#savedpathway_choices').toggle()"
%ul#savedpathway_choices.choices
  - saved_pathways.each do |name,code|
    %li= link_to_function name, "twentyfifty.switchPathway('#{code}');$('ul#savedpathway_choices').toggle()"