%ul#viewdropdown.dropdown
  %li
    = link_to_function raw("See implications &#9662;"), "$('ul#view_choices').toggle()"
    %ul#view_choices.choices
      - view_names.each do |action,title|
        - next if action == 'cost' && !params[:comparator]
        %li= link_to_function title, "twentyfifty.switchView('#{action}')"
