!!!
%html
  %head
    %title 205 Pathways Calculator
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #calculating Calculating

    = yield 
